AVLXML/avlsup-mdk.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 	xmlns="http://www.arkivverket.no/standarder/nha/avlxml/avlsup-mdk" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://www.arkivverket.no/standarder/nha/avlxml/avlsup-mdk" 
			elementFormDefault="qualified">

<!-- 
********************************************************************************    
    AVLXML supplerende opplysninger metadatakatalog (avlxmlbsmdk.xsd)
    Inngår i XML-skjema for avleveringsliste til Norsk helsearkiv
******************************************************************************** 
-->
  
  <xs:simpleType name="saksreferansedato">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.29</xs:documentation>
      <xs:documentation>Dato for referansen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="arkDATO" />
  </xs:simpleType>
  
  <xs:simpleType name="saksreferansenummer">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.30</xs:documentation>
      <xs:documentation>Identifikator for referansen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  
  <xs:simpleType name="saksreferansetekst">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.31</xs:documentation>
      <xs:documentation>Beskrivelse av referansen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  
  <xs:simpleType name="henvisningsperiodeID">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.32</xs:documentation>
      <xs:documentation>Unik identifikator for denne henvisningsperioden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  
  <xs:simpleType name="henvFraInstitusjonID">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.33</xs:documentation>
      <xs:documentation>Den instans, helseinstitusjon eller enkeltlege som har utstedt henvisningen.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{9}" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ansienDato">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.34</xs:documentation>
      <xs:documentation>Den første mottaksdato for en henvisning i kjeden av mottaksdatoer</xs:documentation>
    </xs:annotation>
    <xs:restriction base="arkDATO" />
  </xs:simpleType>
  
  <xs:complexType name="trygdenasjon">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.35</xs:documentation>
      <xs:documentation>Landkode for det land pasienten har trygderettigheter. (NPR angir standard kodeverk: 9043 Landkoder)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="arkCV" />
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="sluttDato">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.36</xs:documentation>
      <xs:documentation>Sluttdato for henvisningsperioden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="arkDATO" />
  </xs:simpleType>
  
  <xs:simpleType name="henvTilInstitusjonID">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.37</xs:documentation>
      <xs:documentation>Institusjon som mottar viderehenvisningen (org.nr.)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{9}" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="episodeID">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.38</xs:documentation>
      <xs:documentation>Unik identifikator for denne episoden. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  
  <xs:simpleType name="serieID">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.39</xs:documentation>
      <xs:documentation>Knytter sammen flere Episoder til en serie.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  
  <xs:complexType name="episodeFag">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.40</xs:documentation>
      <xs:documentation>Episodens fagområde 
                (Standard kodeverk: 8451 Fagområde)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="arkCV" />
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="innDatoTid">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.41</xs:documentation>
      <xs:documentation>Dato og klokkeslett for start av tjenesten</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  
  <xs:simpleType name="utDatoTid">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.42</xs:documentation>
      <xs:documentation>Utskrivningsdato og -tid for episode</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>

  <xs:complexType name="omsorgsniva">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.43</xs:documentation>
      <xs:documentation>Grov kategorisering av denne episoden etter ressursinnsats og organisering 
                (Standard kodeverk: 8406 Omsorgsnivå)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="arkCV" />
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="komNrHjem">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.44</xs:documentation>
      <xs:documentation>Folkeregisterets registrering av pasientens hjemstedskommune ved start av Episoden.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="bydel">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.45</xs:documentation>
      <xs:documentation>Den bydel der Pasienten bor, dersom det er i Oslo, Bergen, Trondheim eller Stavanger.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="adresse">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.46</xs:documentation>
      <xs:documentation>Benyttes dersom Folkeregisterkommune mangler</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:complexType name="oppholdstype">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.47</xs:documentation>
      <xs:documentation>Kategorisering av type opphold på institusjon 
                (Standard kodeverk: 8449 Oppholdstype)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="arkCV" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="avdoppAktivitet">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.48</xs:documentation>
      <xs:documentation>Klassifikasjon av avdelingsoppholdet, type behandling eller type terapi, etter hvem som deltar ved konsultasjonen 
                (Standard kodeverk: 8452 Aktivitetstype)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="arkCV" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="kontakttype">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.49</xs:documentation>
      <xs:documentation>Kategorisering av kontakter etter hvordan kontakten skjer. Gjelder for polikliniske konsultasjoner og dagbehandlinger etc.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="arkCV" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stedAktivitet">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.50</xs:documentation>
      <xs:documentation>Det fysiske sted den polikliniske konsultasjonen gjennomføres</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="arkCV" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="polkonAktivitet">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.51</xs:documentation>
      <xs:documentation>Klassifikasjon av konsultasjonen, type behandling eller type terapi, etter hvem som deltar ved konsultasjonen</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="arkCV" />
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="instID">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.52</xs:documentation>
      <xs:documentation>Identifikasjon av den helseinstitusjon som utfører tjenesten, i tilfelle det er en annen institusjon som utfører tjenesten enn den institusjon og enhet som utfører pasientbehandlingen. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{9}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="startDatoTid">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.53</xs:documentation>
      <xs:documentation>Dato og klokkeslett for start av tjenesten</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>

  <xs:simpleType name="sluttDatoTid">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.54</xs:documentation>
      <xs:documentation>Dato og klokkeslett for slutt av tjenesten</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>

  <xs:complexType name="tjenesteFag">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.55</xs:documentation>
      <xs:documentation>Kategorisering av hvilket fag denne tjenesten tilhører
                (Standard kodeverk: 8451 Fagområde)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="arkCV" />
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="enhetID">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.56</xs:documentation>
      <xs:documentation>Identifikasjon av enheten</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{9}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enhetNavn">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.57</xs:documentation>
      <xs:documentation>Navn på enheten i klartekst</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="offAvdKode">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.58</xs:documentation>
      <xs:documentation>Offisiell avdelingskode (IK 44/89)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="reshID">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.59</xs:documentation>
      <xs:documentation>Enhetens RESH-identifikasjon (Standard kodeverk: 3512 Nasjonalt register)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="enhetLokal">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.60</xs:documentation>
      <xs:documentation>Lokal kode for enhet</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:complexType name="typeTiltak">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.61</xs:documentation>
      <xs:documentation>Kode som beskriver tiltakstype </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="arkCV" />
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="prosNr">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.62</xs:documentation>
      <xs:documentation>Rekkefølgenummer</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:complexType name="Prosedyrekode">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.63</xs:documentation>
      <xs:documentation>Kode som beskriver prosedyre (Kodeverk: Medisinske prosedyrekoder)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="arkCV" />
    </xs:complexContent>
  </xs:complexType>


<!--
********************************************************************************    
    Spesielle datatyper 
********************************************************************************    
-->
  <xs:simpleType name="arkDATO">
    <xs:annotation>
      <xs:documentation>Generelt datoformat i avlxml som tillater bare årstall</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(1[89][0-9]{2}|20[0-9]{2})(-(0[1-9]|1[012])(-([012][0-9]|3[01]))?)?" />
      <xs:pattern value="(1[89][0-9]{2}|20[0-9]{2})(0[1-9]|1[012])([012][0-9]|3[01])" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="arkCV">
    <xs:annotation>
      <xs:documentation>
                Benyttes for registrering av koder (og kodeverk) i forbindelse med arkivavlevering av pasientjournaler til Norsk helsearkiv.
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
                        En tekststeng som inneholder kodeverdien 
                        Merk: Code skal normalt alltid angis når denne datatypen benyttes, men i visse situasjoner kan kodeverk være ukjent eller ikke mulig å angi. Da vil feltet OriginalText være benyttet i stedet.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeSystem" minOccurs="1" maxOccurs="1" default="0">
        <xs:annotation>
          <xs:documentation>
                        En Object Identifier (OID) som entydig identifiserer det kodeverk som kodene tilhører. 
                        Hvis kodeverk er ukjent eller ikke kan angis med en OID skal verdien "0" benyttes. 
                    </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]+.)+([0-9]+)|[0]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CodeSystemVersion" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
                        En tekststeng som beskriver versjonen av kodeverket der dette er relevant.
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisplayName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
                        En tekststeng (term) som beskriver det begrep som koden representerer 
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginalText" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
                        Benyttes i 2 tilfeller:
                        1)	Må benyttes dersom Code ikke benyttes. Dette vil være spesielt aktuelt for kodeverk som ikke kan angis med en OID.
                        2)	Kan benyttes i tillegg til Code (og DisplayName) for å registrere den tekst som dannet grunnlaget for valg av kode.
                        (f.eks. der et kodeverk inneholder en kode for "Annet" (eller tilsvarende), så vil det ofte være ønskelig å registrere hva dette "annet" er.)
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
