AVLXML/avlxml-mdk.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 	xmlns="http://schema.arkivverket.no/avlxml/avlxml-mdk" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://schema.arkivverket.no/avlxml/avlxml-mdk" 
			elementFormDefault="qualified">

<!-- 
********************************************************************************    
    AVLXML base metadatakatalog (avlxmlbmdk.xsd)
    Inngår i XML-skjema for avleveringsliste til Norsk helsearkiv

    2018-10-dd - Utkast:
******************************************************************************** 
-->
  
  <xs:simpleType name="arkivskaper">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.1</xs:documentation>
      <xs:documentation>Navnet på den institusjonen som er, eller antas å være arkivskaper.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="avleveringsbeskrivelse">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.2</xs:documentation>
      <xs:documentation>utfyllende opplysninger</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="avleveringsidentifikator">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.3</xs:documentation>
      <xs:documentation>Unik identifikator som identifiserer den enkelte arkivavlevering. </xs:documentation>
      <xs:documentation>Merk: Avleveringsidentifikator fastsettes av NHA i den avtalen som inngås mellom arkivskaper og arkivdepot i forbindelse med en avlevering.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]+.)+([0-9]+)" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="avlxmlversjon">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.4</xs:documentation>
      <xs:documentation>Verson i henhold til spesifikasjon.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]+.)+([0-9]+)" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="avtalebeskrivelse">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.5</xs:documentation>
      <xs:documentation>Tekstlig beskrivelse av den aktuelle avtalen. Typisk innhold vil være kort beskrivelse av virksomheten og hvilket arkiv, omfang og periode avtalen skal omfatte.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="avtaledato">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.6</xs:documentation>
      <xs:documentation>Genuin dato (ikke avlxmldate)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date" />
  </xs:simpleType>

  <xs:simpleType name="avtaleidentifikator">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.7</xs:documentation>
      <xs:documentation>En unik identifikator som identifiserer den enkelte avleveringsavtale. Tildeles av arkivdepotet ved avtaleinngåelse med arkivskaper.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]+.)+([0-9]+)" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="diagnosedato">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.8</xs:documentation>
      <xs:documentation>Dato for fastsettelse av diagnose</xs:documentation>
    </xs:annotation>
    <xs:restriction base="arkDATO" />
  </xs:simpleType>

  <xs:simpleType name="diagnosekode">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.9</xs:documentation>
      <xs:documentation>Diagnosekoden slik den er anført i pasientjournalen.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="diagnosetekst">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.10</xs:documentation>
      <xs:documentation>
                Benyttes i de tilfeller der men ikke har diagnosekode.
                Kan også benyttes til supplerende tekst.
            </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="diagnosekodeverk">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.11</xs:documentation>
      <xs:documentation>Angivelse av hvilket diagnosekodeverk som diagnosekoden er hentet fra, ref. kravspesifikasjon.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]+.)+([0-9]+)" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fanearkidentifikator">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.12 </xs:documentation>
      <xs:documentation>Dersom det er gjort avtale om innlegg av faneark i pasientjournaler med sikte på digitalisering, skal denne identifikatoren registreres</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="fodselsnummer">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.13</xs:documentation>
      <xs:documentation>Pasientidentifiserende opplysninger; fødselsnummer eller annet entydig identifikasjonsnummer, eventuelle virksomhetsinterne pasientnummer eller hjelpenummer mv.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="fodtdato">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.14</xs:documentation>
      <xs:documentation>Pasientens fødselsdato eller år</xs:documentation>
    </xs:annotation>
    <xs:restriction base="arkDATO" />
  </xs:simpleType>

  <xs:simpleType name="forstekontakt">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.15</xs:documentation>
      <xs:documentation>Dato for første kontakt</xs:documentation>
    </xs:annotation>
    <xs:restriction base="arkDATO" />
  </xs:simpleType>

  <xs:simpleType name="journalidentifikator">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.16</xs:documentation>
      <xs:documentation>Unik identifikator dersom denne finnes</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="journalnummer">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.17</xs:documentation>
      <xs:documentation>Kan benyttes til å registrere journalnummer dersom det finnes, </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="kjonn">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.18</xs:documentation>
      <xs:documentation>Pasientens kjønn (M, K, U)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="M" />
      <xs:enumeration value="K" />
      <xs:enumeration value="U" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="lagringsenhet">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.19</xs:documentation>
      <xs:documentation>En kodet verdi som identifiserer den aktuelle lagringsenhet som inneholder pasientjournalen. (Kan gjentas dersom journalen er så stor at den finnes i flere lagringsenheter)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="lopenummer">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.20</xs:documentation>
      <xs:documentation>Kan benyttes til å registrere løpenummer dersom det finnes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="merknad">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.21</xs:documentation>
      <xs:documentation>Felt for registrering av fritekstmerknad dersom brukeren har behov for å knytte en beskrivende anmerkning til journalavleveringen.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="morsdato">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.22</xs:documentation>
      <xs:documentation>Pasientens dødsdato eller år dersom dette er kjent</xs:documentation>
    </xs:annotation>
    <xs:restriction base="arkDATO" />
  </xs:simpleType>

  <xs:simpleType name="pasientnavn">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.23</xs:documentation>
      <xs:documentation>Pasientens navn</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="sikkermors">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.24</xs:documentation>
      <xs:documentation>
                Angir om dødsdato/år er ukjent.
                Verdi "true" uttrykker sant (ja, avkrysset boks etc.) mens verdi "false" uttrykker usant (verdi nei, ikke avkrysset boks etc.).
            </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>

  <xs:simpleType name="sistekontakt">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.25</xs:documentation>
      <xs:documentation>Dato for siste kontakt</xs:documentation>
    </xs:annotation>
    <xs:restriction base="arkDATO" />
  </xs:simpleType>

  <xs:simpleType name="virksomhetsnavn">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.26</xs:documentation>
      <xs:documentation>Navnet på den virksomheten som forestår avleveringen. Dette kan være forskjellig fra navnet på arkivskaper.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="foretaksnavn">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.27</xs:documentation>
      <xs:documentation>Navn på foretak</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="organisasjonsnummer">
    <xs:annotation>
      <xs:documentation>OID:2.16.578.1.39.100.1.3001.28</xs:documentation>
      <xs:documentation>Norsk organisasjonsnummer i enhetsregisteret</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{9}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="arkDATO">
    <xs:annotation>
      <xs:documentation>Generelt datoformat</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(1[89][0-9]{2}|20[0-9]{2})(-(0[1-9]|1[012])(-([012][0-9]|3[01]))?)?" />
      <xs:pattern value="(1[89][0-9]{2}|20[0-9]{2})(0[1-9]|1[012])([012][0-9]|3[01])" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
