N5TJ/latest/arkivstruktur10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:as="http://skjema.kxml.no/arkivverket/noark5/v4.0/arkivstruktur" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:rest="http://www.kxml.no/rest/1.0" xmlns:ls="http://skjema.kxml.no/arkivverket/noark5/v4.0/loggingogsporing" xmlns:n5mdk="http://skjema.kxml.no/arkivverket/noark5/v4.0/metadata" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31" targetNamespace="http://skjema.kxml.no/arkivverket/noark5/v4.0/arkivstruktur" elementFormDefault="qualified">
  <!-- Generert av MetaTrans(1.1.0.0) - 11.07.2016 16.14.13-->
  <xs:import namespace="http://www.kxml.no/rest/1.0" schemaLocation="rest.xsd"/>
  <xs:import namespace="http://skjema.kxml.no/arkivverket/noark5/v4.0/loggingogsporing" schemaLocation="loggingogsporing10.xsd"/>
  <xs:import namespace="http://skjema.kxml.no/arkivverket/noark5/v4.0/metadata" schemaLocation="metadata10.xsd"/>
  <xs:import namespace="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31/giFellesGeometri20120131.xsd"/>
  <xs:import namespace="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31/giPlanFelles20120131.xsd"/>
  <xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31/giMatrikkelFelles20120131.xsd"/>
  <xs:element name="Arkiv" type="as:ArkivType"/>
  <xs:complexType name="ArkivListe">
    <xs:sequence>
      <xs:element name="arkiv" type="as:ArkivType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArkivType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_C24AA8BC_2F54_4277_AA3E_54644165DBD6">
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="tittel" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="beskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkivstatus" type="n5mdk:ArkivstatusType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="dokumentmedium" type="n5mdk:DokumentmediumType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="oppbevaringssted" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="avsluttetDato" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="avsluttetAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseAvsluttetAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkivskaper" type="as:ArkivskaperType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkivdel" type="as:ArkivdelListe" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Arkivdel" type="as:ArkivdelType"/>
  <xs:complexType name="ArkivdelListe">
    <xs:sequence>
      <xs:element name="arkivdel" type="as:ArkivdelType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArkivdelType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_065C79A2_FFF3_46ba_BBE8_A71E26AAD962">
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="tittel" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="beskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkivdelstatus" type="n5mdk:ArkivdelstatusType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="dokumentmedium" type="n5mdk:DokumentmediumType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="oppbevaringssted" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="avsluttetDato" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="avsluttetAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseAvsluttetAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkivperiodeStartDato" type="xs:date" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkivperiodeSluttDato" type="xs:date" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseForloeper" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseArvtaker" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="kassasjon" type="as:KassasjonType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="utfoertKassasjon" type="as:UtfoertKassasjonType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="sletting" type="as:SlettingType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="skjerming" type="as:SkjermingType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="gradering" type="as:GraderingType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="mappe" type="as:MappeListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkiv" type="as:ArkivType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="klassifikasjonssystem" type="as:KlassifikasjonssystemType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="registrering" type="as:RegistreringListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="sekundaerklassifikasjonssystem" type="as:KlassifikasjonssystemListe" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbstraktArkivenhet" type="as:AbstraktArkivenhetType"/>
  <xs:complexType name="AbstraktArkivenhetListe">
    <xs:sequence>
      <xs:element name="abstraktarkivenhet" type="as:AbstraktArkivenhetType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AbstraktArkivenhetType" abstract="true" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_A329F504_6163_4dd4_978A_BB3A484101B4">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemID" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="oppdatertDato" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="opprettetDato" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="opprettetAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="oppdatertAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseOppdatertAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseOpprettetAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="logg" type="as:HendelsesloggListe" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Arkivskaper" type="as:ArkivskaperType"/>
  <xs:complexType name="ArkivskaperListe">
    <xs:sequence>
      <xs:element name="arkivskaper" type="as:ArkivskaperType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArkivskaperType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_2DD450D1_F1ED_4aa7_9E1F_AF63EC50477E">
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="arkivskaperID" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="arkivskaperNavn" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="beskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkiv" type="as:ArkivListe" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Basisregistrering" type="as:BasisregistreringType"/>
  <xs:complexType name="BasisregistreringListe">
    <xs:sequence>
      <xs:element name="basisregistrering" type="as:BasisregistreringType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BasisregistreringType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_3C816376_05B6_4747_8BF9_143903D05D9B">
    <xs:complexContent>
      <xs:extension base="as:RegistreringType">
        <xs:sequence>
          <xs:element name="registreringsID" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="tittel" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="offentligTittel" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="beskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="noekkelord" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="forfatter" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dokumentmedium" type="n5mdk:DokumentmediumType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="oppbevaringssted" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="virksomhetsspesifikkeMetadata" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="kryssreferanse" type="as:KryssreferanseListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="merknad" type="as:MerknadListe" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dokumentbeskrivelse" type="as:DokumentbeskrivelseType"/>
  <xs:complexType name="DokumentbeskrivelseListe">
    <xs:sequence>
      <xs:element name="dokumentbeskrivelse" type="as:DokumentbeskrivelseType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DokumentbeskrivelseType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_16C8192E_0EFB_4844_8623_12DF68FAAF5C">
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="dokumenttype" type="n5mdk:DokumenttypeType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="dokumentstatus" type="n5mdk:DokumentstatusType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="tittel" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="beskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="forfatter" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dokumentmedium" type="n5mdk:DokumentmediumType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="oppbevaringssted" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="tilknyttetRegistreringSom" type="n5mdk:TilknyttetRegistreringSomType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="dokumentnummer" type="xs:integer" minOccurs="1" maxOccurs="1"/>
          <xs:element name="tilknyttetDato" type="xs:date" minOccurs="1" maxOccurs="1"/>
          <xs:element name="tilknyttetAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseTilknyttetAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="kassasjon" type="as:KassasjonType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="utfoertKassasjon" type="as:UtfoertKassasjonType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="sletting" type="as:SlettingType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="skjerming" type="as:SkjermingType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="gradering" type="as:GraderingType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="elektroniskSignatur" type="as:ElektroniskSignaturType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="virksomhetsspesifikkeMetadata" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="merknad" type="as:MerknadListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="registrering" type="as:RegistreringType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="dokumentobjekt" type="as:DokumentobjektListe" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dokumentobjekt" type="as:DokumentobjektType"/>
  <xs:complexType name="DokumentobjektListe">
    <xs:sequence>
      <xs:element name="dokumentobjekt" type="as:DokumentobjektType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DokumentobjektType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_A7642A0D_41DB_4b21_9CC7_EFF2C5AE741B">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemID" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="versjonsnummer" type="xs:integer" minOccurs="1" maxOccurs="1"/>
          <xs:element name="variantformat" type="n5mdk:VariantformatType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="format" type="n5mdk:FormatType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="formatDetaljer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="opprettetDato" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="opprettetAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseDokumentfil" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="filnavn" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="sjekksum" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="mimeType" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="sjekksumAlgoritme" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="filstoerrelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="elektroniskSignatur" type="as:ElektroniskSignaturType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="konvertering" type="as:KonverteringListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="dokumentbeskrivelse" type="as:DokumentbeskrivelseType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElektroniskSignatur" type="as:ElektroniskSignaturType"/>
  <xs:complexType name="ElektroniskSignaturListe">
    <xs:sequence>
      <xs:element name="elektronisksignatur" type="as:ElektroniskSignaturType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElektroniskSignaturType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_AD333A50_83F2_4319_9DEA_35DF8B09E4CA">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="elektroniskSignaturSikkerhetsnivaa" type="n5mdk:ElektroniskSignaturSikkerhetsnivaaType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="elektroniskSignaturVerifisert" type="n5mdk:ElektroniskSignaturVerifisertType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="verifisertDato" type="xs:date" minOccurs="1" maxOccurs="1"/>
          <xs:element name="verifisertAv" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="referanseVerifisertAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gradering" type="as:GraderingType"/>
  <xs:complexType name="GraderingListe">
    <xs:sequence>
      <xs:element name="gradering" type="as:GraderingType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GraderingType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_923D0C72_5EAD_4019_820E_B195F23AC496">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="graderingskode" type="n5mdk:GraderingskodeType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="graderingsdato" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
          <xs:element name="gradertAv" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="referanseGradertAv" type="n5mdk:SystemIDType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="nedgraderingsdato" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="nedgradertAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseNedgradertAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Hendelseslogg" type="as:HendelsesloggType"/>
  <xs:complexType name="HendelsesloggListe">
    <xs:sequence>
      <xs:element name="hendelseslogg" type="as:HendelsesloggType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HendelsesloggType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_B3CF7F82_2466_4073_9B2E_5DDC637D0A49">
    <xs:complexContent>
      <xs:extension base="ls:EndringsloggType">
        <xs:sequence>
          <xs:element name="hendelsetype" type="n5mdk:HendelsetypeType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="beskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="hendelseDato" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Kassasjon" type="as:KassasjonType"/>
  <xs:complexType name="KassasjonListe">
    <xs:sequence>
      <xs:element name="kassasjon" type="as:KassasjonType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KassasjonType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_ED3B516A_A738_4218_8B9A_7A99EFD0CCBC">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="kassasjonsvedtak" type="n5mdk:KassasjonsvedtakType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="kassasjonshjemmel" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="bevaringstid" type="xs:integer" minOccurs="1" maxOccurs="1"/>
          <xs:element name="kassasjonsdato" type="xs:date" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Klasse" type="as:KlasseType"/>
  <xs:complexType name="KlasseListe">
    <xs:sequence>
      <xs:element name="klasse" type="as:KlasseType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KlasseType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_F3A0847C_E4D2_49a0_ADA7_FE67F635D3BE">
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="klasseID" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="tittel" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="beskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="noekkelord" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="avsluttetDato" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="avsluttetAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseAvsluttetAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="skjerming" type="as:SkjermingType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="kassasjon" type="as:KassasjonType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="klassifikasjonssystem" type="as:KlassifikasjonssystemType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="registrering" type="as:RegistreringListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="mappe" type="as:MappeListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="kryssreferanse" type="as:KryssreferanseListe" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Klassifikasjonssystem" type="as:KlassifikasjonssystemType"/>
  <xs:complexType name="KlassifikasjonssystemListe">
    <xs:sequence>
      <xs:element name="klassifikasjonssystem" type="as:KlassifikasjonssystemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KlassifikasjonssystemType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_EF4753FE_2FA5_4ed3_BB94_0277B15EF377">
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="klassifikasjonstype" type="n5mdk:KlassifikasjonstypeType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="tittel" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="beskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="avsluttetDato" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="avsluttetAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseAvsluttetAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="klasse" type="as:KlasseListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkivdel" type="as:ArkivdelType" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Konvertering" type="as:KonverteringType"/>
  <xs:complexType name="KonverteringListe">
    <xs:sequence>
      <xs:element name="konvertering" type="as:KonverteringType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KonverteringType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_33A3D7F4_63D3_4079_B1F3_655F44C6A7E3">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemID" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="konvertertDato" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
          <xs:element name="konvertertAv" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="konvertertFraFormat" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="konvertertTilFormat" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="konverteringsverktoey" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="konverteringskommentar" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Kryssreferanse" type="as:KryssreferanseType"/>
  <xs:complexType name="KryssreferanseListe">
    <xs:sequence>
      <xs:element name="kryssreferanse" type="as:KryssreferanseType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KryssreferanseType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_84C37388_F2C5_41ff_B4CA_B6AE9151E66D">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="referanseTilMappe" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseTilKlasse" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseTilRegistrering" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="mappe" type="as:MappeType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="klasse" type="as:KlasseType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="registrering" type="as:BasisregistreringType" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mappe" type="as:MappeType"/>
  <xs:complexType name="MappeListe">
    <xs:sequence>
      <xs:element name="mappe" type="as:MappeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MappeType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_BEB30D94_3115_4526_9F00_D05A2BFD27CF">
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="mappeID" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="mappetype" type="n5mdk:MappetypeType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="tittel" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="offentligTittel" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="beskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="noekkelord" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dokumentmedium" type="n5mdk:DokumentmediumType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="oppbevaringssted" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="avsluttetDato" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="avsluttetAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseAvsluttetAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="kassasjon" type="as:KassasjonType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="skjerming" type="as:SkjermingType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="gradering" type="as:GraderingType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseForelderMappe" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="virksomhetsspesifikkeMetadata" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="merknad" type="as:MerknadListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="registrering" type="as:RegistreringListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="klasse" type="as:KlasseType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="kryssreferanse" type="as:KryssreferanseListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkivdel" type="as:ArkivdelType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="nasjonalidentifikator" type="as:AbstraktNasjonalidentifikatorListe" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Merknad" type="as:MerknadType"/>
  <xs:complexType name="MerknadListe">
    <xs:sequence>
      <xs:element name="merknad" type="as:MerknadType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MerknadType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_DAB37918_A553_43fd_B9CE_1095A0889E27">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemID" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="merknadstekst" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="merknadstype" type="n5mdk:MerknadstypeType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="merknadsdato" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
          <xs:element name="merknadRegistrertAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseMerknadRegistrertAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Registrering" type="as:RegistreringType"/>
  <xs:complexType name="RegistreringListe">
    <xs:sequence>
      <xs:element name="registrering" type="as:RegistreringType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistreringType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_DE6F21D6_6F00_4a5c_84C5_DB3752B39457">
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="arkivertDato" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkivertAv" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseArkivertAv" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="kassasjon" type="as:KassasjonType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="skjerming" type="as:SkjermingType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="gradering" type="as:GraderingType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="referanseArkivdel" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="klasse" type="as:KlasseType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="mappe" type="as:MappeType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="dokumentbeskrivelse" type="as:DokumentbeskrivelseListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="arkivdel" type="as:ArkivdelType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="nasjonalidentifikator" type="as:AbstraktNasjonalidentifikatorListe" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Skjerming" type="as:SkjermingType"/>
  <xs:complexType name="SkjermingListe">
    <xs:sequence>
      <xs:element name="skjerming" type="as:SkjermingType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SkjermingType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_53B4957A_C2D7_42d5_A20D_ADA980FCFF0B">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="tilgangsrestriksjon" type="n5mdk:TilgangsrestriksjonType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="skjermingshjemmel" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="skjermingMetadata" type="n5mdk:SkjermingMetadataListe" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="skjermingDokument" type="n5mdk:SkjermingDokumentType" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="skjermingsvarighet" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="skjermingOpphoererDato" type="xs:date" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Sletting" type="as:SlettingType"/>
  <xs:complexType name="SlettingListe">
    <xs:sequence>
      <xs:element name="sletting" type="as:SlettingType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SlettingType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_B9AEE1D2_F73A_4c08_9F20_1633B59CD8C1">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="slettingstype" type="n5mdk:SlettingstypeType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="slettetDato" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
          <xs:element name="slettetAv" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="referanseSlettetAv" type="n5mdk:SystemIDType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UtfoertKassasjon" type="as:UtfoertKassasjonType"/>
  <xs:complexType name="UtfoertKassasjonListe">
    <xs:sequence>
      <xs:element name="utfoertkassasjon" type="as:UtfoertKassasjonType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UtfoertKassasjonType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_D8026F2C_516C_43ff_9C63_1E5EF86A1B31">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="kassertDato" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
          <xs:element name="kassertAv" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="referanseKassertAv" type="n5mdk:SystemIDType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bygning" type="as:BygningType"/>
  <xs:complexType name="BygningListe">
    <xs:sequence>
      <xs:element name="bygning" type="as:BygningType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BygningType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_4137C625_6EB2_4049_B33B_CD7EE9B29B34">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="byggidentifikator" type="matrikkelfellesns:ByggIdent" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Enhetsidentifikator" type="as:EnhetsidentifikatorType"/>
  <xs:complexType name="EnhetsidentifikatorListe">
    <xs:sequence>
      <xs:element name="enhetsidentifikator" type="as:EnhetsidentifikatorType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnhetsidentifikatorType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_F59C3211_2EAE_41af_BED3_E93FE685E38A">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="organisasjonsnummer" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Matrikkel" type="as:MatrikkelType"/>
  <xs:complexType name="MatrikkelListe">
    <xs:sequence>
      <xs:element name="matrikkel" type="as:MatrikkelType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatrikkelType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_9802F947_F1ED_4e8c_8E2A_C026DBC8DFB7">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="matrikkelnummer" type="matrikkelfellesns:Matrikkelnummer" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbstraktNasjonalidentifikator" type="as:AbstraktNasjonalidentifikatorType"/>
  <xs:complexType name="AbstraktNasjonalidentifikatorListe">
    <xs:sequence>
      <xs:element name="abstraktnasjonalidentifikator" type="as:AbstraktNasjonalidentifikatorType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AbstraktNasjonalidentifikatorType" abstract="true" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_03674EDA_F50A_4b92_87AE_9170690ABDB5">
    <xs:sequence>
      <xs:element name="systemID" type="n5mdk:SystemIDType" nillable="true" minOccurs="0" maxOccurs="1"/>
      <xs:element name="beskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personidentifikator" type="as:PersonidentifikatorType"/>
  <xs:complexType name="PersonidentifikatorListe">
    <xs:sequence>
      <xs:element name="personidentifikator" type="as:PersonidentifikatorType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonidentifikatorType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_C630DD72_8542_42c0_AB2C_9E439249961A">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="foedselsnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="dNummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Plan" type="as:PlanType"/>
  <xs:complexType name="PlanListe">
    <xs:sequence>
      <xs:element name="plan" type="as:PlanType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlanType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_DFC29D21_2BC8_4c01_AA4B_51EED5CF451A">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="planidentifikator" type="planfellesns:NasjonalArealplanId" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Posisjon" type="as:PosisjonType"/>
  <xs:complexType name="PosisjonListe">
    <xs:sequence>
      <xs:element name="posisjon" type="as:PosisjonType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PosisjonType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_A4097F77_F9AA_4222_87B6_2B3A88BB1E28">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="plassering" type="fellesgeometrins:Punkt" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
