N4/latest/ADRESSEK.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT ADRESSEKP.TAB (ADRESSEKP+)>
<!ATTLIST ADRESSEKP.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT ADRESSEKP (AK.ADRID? , AK.OVERORD? , AK.TYPE? , AK.ADRGRUPPE? , AK.KORTNAVN? , AK.NAVN , AK.POSTADR? , AK.POSTNR? , AK.POSTSTED? , AK.UTLAND? , AK.EPOST? , AK.FAKS? , AK.TLF? , AK.MOBIL? , AK.PERSOK? , AK.TILDATO? , AK.ORGNR? , AK.TGGRUPPE? , AK.OPDGRUPPE? , AK.BASEID? , AK.REGEPOST?)>

<!ELEMENT AK.ADRID (#PCDATA)>

<!ELEMENT AK.OVERORD (#PCDATA)>

<!ELEMENT AK.TYPE (#PCDATA)>

<!ELEMENT AK.ADRGRUPPE (#PCDATA)>

<!ELEMENT AK.KORTNAVN (#PCDATA)>

<!ELEMENT AK.NAVN (#PCDATA)>

<!ELEMENT AK.POSTADR (#PCDATA)>

<!ELEMENT AK.POSTNR (#PCDATA)>

<!ELEMENT AK.POSTSTED (#PCDATA)>

<!ELEMENT AK.UTLAND (#PCDATA)>

<!ELEMENT AK.EPOST (#PCDATA)>

<!ELEMENT AK.FAKS (#PCDATA)>

<!ELEMENT AK.TLF (#PCDATA)>

<!ELEMENT AK.MOBIL (#PCDATA)>

<!ELEMENT AK.PERSOK (#PCDATA)>

<!ELEMENT AK.TILDATO (#PCDATA)>

<!ELEMENT AK.ORGNR (#PCDATA)>

<!ELEMENT AK.TGGRUPPE (#PCDATA)>

<!ELEMENT AK.OPDGRUPPE (#PCDATA)>

<!ELEMENT AK.BASEID (#PCDATA)>

<!ELEMENT AK.REGEPOST (#PCDATA)>

