N4/latest/ARKIV.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT ARKIV.TAB (ARKIV+)>
<!ATTLIST ARKIV.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT ARKIV (AR.ARKIV , AR.BETEGN , AR.SKAPER? , AR.PRIMNOK? , AR.NUMSER? , AR.ABASEID? , AR.FRADATO? , AR.TILDATO? , AR.MERKNAD?)>

<!ELEMENT AR.ARKIV (#PCDATA)>

<!ELEMENT AR.BETEGN (#PCDATA)>

<!ELEMENT AR.SKAPER (#PCDATA)>

<!ELEMENT AR.PRIMNOK (#PCDATA)>

<!ELEMENT AR.NUMSER (#PCDATA)>

<!ELEMENT AR.ABASEID (#PCDATA)>

<!ELEMENT AR.FRADATO (#PCDATA)>

<!ELEMENT AR.TILDATO (#PCDATA)>

<!ELEMENT AR.MERKNAD (#PCDATA)>

