N4/latest/ARSTATUS.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT ARSTATUS.TAB (ARSTATUS+)>
<!ATTLIST ARSTATUS.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT ARSTATUS (AS.STATUS , AS.BETEGN , AS.SPEFSAK , AS.SPEFDOK , AS.LUKKET)>

<!ELEMENT AS.STATUS (#PCDATA)>

<!ELEMENT AS.BETEGN (#PCDATA)>

<!ELEMENT AS.SPEFSAK (#PCDATA)>

<!ELEMENT AS.SPEFDOK (#PCDATA)>

<!ELEMENT AS.LUKKET (#PCDATA)>

