N4/latest/AVSKRM.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT AVSKRMAATE.TAB (AVSKRMAATE+)>
<!ATTLIST AVSKRMAATE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT AVSKRMAATE (AV.KODE , AV.BETEGN , AV.MIDLERTID , AV.BESVART)>

<!ELEMENT AV.KODE (#PCDATA)>

<!ELEMENT AV.BETEGN (#PCDATA)>

<!ELEMENT AV.MIDLERTID (#PCDATA)>

<!ELEMENT AV.BESVART (#PCDATA)>

