N4/latest/DOKBESK.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT DOKBESKRIV.TAB (DOKBESKRIV+)>
<!ATTLIST DOKBESKRIV.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT DOKBESKRIV (DB.DOKID , DB.KATEGORI , DB.TITTEL? , DB.PAPIR , DB.LOKPAPIR? , DB.STATUS , DB.UTARBAV? , DB.TGKODE? , DB.UOFF? , DB.AGDATO? , DB.AGKODE? , DB.TGGRUPPE?)>

<!ELEMENT DB.DOKID (#PCDATA)>

<!ELEMENT DB.KATEGORI (#PCDATA)>

<!ELEMENT DB.TITTEL (#PCDATA)>

<!ELEMENT DB.PAPIR (#PCDATA)>

<!ELEMENT DB.LOKPAPIR (#PCDATA)>

<!ELEMENT DB.STATUS (#PCDATA)>

<!ELEMENT DB.UTARBAV (#PCDATA)>

<!ELEMENT DB.TGKODE (#PCDATA)>

<!ELEMENT DB.UOFF (#PCDATA)>

<!ELEMENT DB.AGDATO (#PCDATA)>

<!ELEMENT DB.AGKODE (#PCDATA)>

<!ELEMENT DB.TGGRUPPE (#PCDATA)>

