N4/latest/DOKLINK.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT DOKLINK.TAB (DOKLINK+)>
<!ATTLIST DOKLINK.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT DOKLINK (DL.JPID , DL.RNR , DL.DOKID , DL.TYPE , DL.TKDATO , DL.TKAV)>

<!ELEMENT DL.JPID (#PCDATA)>

<!ELEMENT DL.RNR (#PCDATA)>

<!ELEMENT DL.DOKID (#PCDATA)>

<!ELEMENT DL.TYPE (#PCDATA)>

<!ELEMENT DL.TKDATO (#PCDATA)>

<!ELEMENT DL.TKAV (#PCDATA)>

