N4/latest/DOKTILKN.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT DOKTILKN.TAB (DOKTILKN+)>
<!ATTLIST DOKTILKN.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT DOKTILKN (DT.KODE , DT.BETEGN , DT.JOURNAL , DT.MOTEDOK?)>

<!ELEMENT DT.KODE (#PCDATA)>

<!ELEMENT DT.BETEGN (#PCDATA)>

<!ELEMENT DT.JOURNAL (#PCDATA)>

<!ELEMENT DT.MOTEDOK (#PCDATA)>

