N4/latest/DOKVERS.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT DOKVERSJON.TAB (DOKVERSJON+)>
<!ATTLIST DOKVERSJON.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT DOKVERSJON (VE.DOKID , VE.VERSJON , VE.VARIANT , VE.AKTIV , VE.DOKFORMAT , VE.REGAV? , VE.OPPBEDATO? , VE.TGKODE? , VE.ARKMERK? , VE.LAGRENH? , VE.FILREF?)>

<!ELEMENT VE.DOKID (#PCDATA)>

<!ELEMENT VE.VERSJON (#PCDATA)>

<!ELEMENT VE.VARIANT (#PCDATA)>

<!ELEMENT VE.AKTIV (#PCDATA)>

<!ELEMENT VE.DOKFORMAT (#PCDATA)>

<!ELEMENT VE.REGAV (#PCDATA)>

<!ELEMENT VE.OPPBEDATO (#PCDATA)>

<!ELEMENT VE.TGKODE (#PCDATA)>

<!ELEMENT VE.ARKMERK (#PCDATA)>

<!ELEMENT VE.LAGRENH (#PCDATA)>

<!ELEMENT VE.FILREF (#PCDATA)>

