N4/latest/EARKKODE.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT EARKKODE.TAB (EARKKODE+)>
<!ATTLIST EARKKODE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT EARKKODE (EA.ORDNPRI , EA.ORDNVER , EA.SORDFLAGG , EA.ORD)>

<!ELEMENT EA.ORDNPRI (#PCDATA)>

<!ELEMENT EA.ORDNVER (#PCDATA)>

<!ELEMENT EA.SORDFLAGG (#PCDATA)>

<!ELEMENT EA.ORD (#PCDATA)>

