N4/latest/EODOK.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT EODOKUMENT.TAB (EODOKUMENT+)>
<!ATTLIST EODOKUMENT.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT EODOKUMENT (ED.DOKID , ED.SORDFLAGG , ED.ORD)>

<!ELEMENT ED.DOKID (#PCDATA)>

<!ELEMENT ED.SORDFLAGG (#PCDATA)>

<!ELEMENT ED.ORD (#PCDATA)>

