N4/latest/FUNGROLL.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT FUNGROLLE.TAB (FUNGROLLE+)>
<!ATTLIST FUNGROLLE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT FUNGROLLE (FR.PRID , FR.FUNGPRID , FR.MERKNAD?)>

<!ELEMENT FR.PRID (#PCDATA)>

<!ELEMENT FR.FUNGPRID (#PCDATA)>

<!ELEMENT FR.MERKNAD (#PCDATA)>

