N4/latest/JFSAK.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT JFSAK.TAB (JFSAK+)>
<!ATTLIST JFSAK.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT JFSAK (JF.ID , JF.FSAID? , JF.FJPID? , JF.TSAID? , JF.TJPID? , JF.TPSID? , JF.MERKNAD?)>

<!ELEMENT JF.ID (#PCDATA)>

<!ELEMENT JF.FSAID (#PCDATA)>

<!ELEMENT JF.FJPID (#PCDATA)>

<!ELEMENT JF.TSAID (#PCDATA)>

<!ELEMENT JF.TJPID (#PCDATA)>

<!ELEMENT JF.TPSID (#PCDATA)>

<!ELEMENT JF.MERKNAD (#PCDATA)>

