N4/latest/JOURNENH.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT JOURNENHET.TAB (JOURNENHET+)>
<!ATTLIST JOURNENHET.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT JOURNENHET (JE.JENHET , JE.BETEGN , JE.LOK? , JE.JSARKIV1? , JE.JSARKIV2? , JE.JSSAKSBH1? , JE.JSSAKSBH2? , JE.RPGRUPPE? , JE.TILDATO?)>

<!ELEMENT JE.JENHET (#PCDATA)>

<!ELEMENT JE.BETEGN (#PCDATA)>

<!ELEMENT JE.LOK (#PCDATA)>

<!ELEMENT JE.JSARKIV1 (#PCDATA)>

<!ELEMENT JE.JSARKIV2 (#PCDATA)>

<!ELEMENT JE.JSSAKSBH1 (#PCDATA)>

<!ELEMENT JE.JSSAKSBH2 (#PCDATA)>

<!ELEMENT JE.RPGRUPPE (#PCDATA)>

<!ELEMENT JE.TILDATO (#PCDATA)>

