N4/latest/JOURNPST.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT JOURNPOST.TAB (JOURNPOST+)>
<!ATTLIST JOURNPOST.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT JOURNPOST (JP.ID , JP.JAAR , JP.SEKNR , JP.SAID , JP.JPOSTNR , JP.JDATO , JP.NDOKTYPE , JP.DOKDATO? , JP.UDATERT , JP.STATUS , JP.INNHOLD , JP.U1 , JP.AVSKDATO? , JP.EKSPDATO? , JP.FORFDATO? , JP.TGKODE? , JP.UOFF? , JP.OVDATO? , JP.AGDATO? , JP.AGKODE? , JP.TGGRUPPE? , JP.SAKSDEL? , JP.U2? , JP.ARKDEL? , JP.PAPIR? , JP.TLKODE? , JP.ANTVED? , JP.UTLDATO? , JP.UTLTIL?)>

<!ELEMENT JP.ID (#PCDATA)>

<!ELEMENT JP.JAAR (#PCDATA)>

<!ELEMENT JP.SEKNR (#PCDATA)>

<!ELEMENT JP.SAID (#PCDATA)>

<!ELEMENT JP.JPOSTNR (#PCDATA)>

<!ELEMENT JP.JDATO (#PCDATA)>

<!ELEMENT JP.NDOKTYPE (#PCDATA)>

<!ELEMENT JP.DOKDATO (#PCDATA)>

<!ELEMENT JP.UDATERT (#PCDATA)>

<!ELEMENT JP.STATUS (#PCDATA)>

<!ELEMENT JP.INNHOLD (#PCDATA)>

<!ELEMENT JP.U1 (#PCDATA)>

<!ELEMENT JP.AVSKDATO (#PCDATA)>

<!ELEMENT JP.EKSPDATO (#PCDATA)>

<!ELEMENT JP.FORFDATO (#PCDATA)>

<!ELEMENT JP.TGKODE (#PCDATA)>

<!ELEMENT JP.UOFF (#PCDATA)>

<!ELEMENT JP.OVDATO (#PCDATA)>

<!ELEMENT JP.AGDATO (#PCDATA)>

<!ELEMENT JP.AGKODE (#PCDATA)>

<!ELEMENT JP.TGGRUPPE (#PCDATA)>

<!ELEMENT JP.SAKSDEL (#PCDATA)>

<!ELEMENT JP.U2 (#PCDATA)>

<!ELEMENT JP.ARKDEL (#PCDATA)>

<!ELEMENT JP.PAPIR (#PCDATA)>

<!ELEMENT JP.TLKODE (#PCDATA)>

<!ELEMENT JP.ANTVED (#PCDATA)>

<!ELEMENT JP.UTLDATO (#PCDATA)>

<!ELEMENT JP.UTLTIL (#PCDATA)>

