N4/latest/KLASS.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT KLASSERING.TAB (KLASSERING+)>
<!ATTLIST KLASSERING.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT KLASSERING (KL.SAID , KL.SORT , KL.ORDNPRI , KL.ORDNVER , KL.U1 , KL.MERKNAD?)>

<!ELEMENT KL.SAID (#PCDATA)>

<!ELEMENT KL.SORT (#PCDATA)>

<!ELEMENT KL.ORDNPRI (#PCDATA)>

<!ELEMENT KL.ORDNVER (#PCDATA)>

<!ELEMENT KL.U1 (#PCDATA)>

<!ELEMENT KL.MERKNAD (#PCDATA)>

