N4/latest/NOARKSAK.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT NOARKSAK.TAB (NOARKSAK+)>
<!ATTLIST NOARKSAK.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT NOARKSAK (SA.ID , SA.SAAR , SA.SEKNR , SA.PAPIR? , SA.DATO , SA.TITTEL , SA.U1 , SA.STATUS , SA.ARKDEL , SA.TYPE? , SA.JENHET? , SA.OPSAKSDEL? , SA.ADMID , SA.ANSVID , SA.TGKODE? , SA.UOFF? , SA.TGGRUPPE? , SA.SISTEJP? , SA.ANTJP , SA.BEVTID? , SA.KASSKODE? , SA.KASSDATO? , SA.PROSJEKT? , SA.PRES? , SA.OBS? , SA.FRARKDEL? , SA.UTLDATO? , SA.UTLTIL?)>

<!ELEMENT SA.ID (#PCDATA)>

<!ELEMENT SA.SAAR (#PCDATA)>

<!ELEMENT SA.SEKNR (#PCDATA)>

<!ELEMENT SA.PAPIR (#PCDATA)>

<!ELEMENT SA.DATO (#PCDATA)>

<!ELEMENT SA.TITTEL (#PCDATA)>

<!ELEMENT SA.U1 (#PCDATA)>

<!ELEMENT SA.STATUS (#PCDATA)>

<!ELEMENT SA.ARKDEL (#PCDATA)>

<!ELEMENT SA.TYPE (#PCDATA)>

<!ELEMENT SA.JENHET (#PCDATA)>

<!ELEMENT SA.OPSAKSDEL (#PCDATA)>

<!ELEMENT SA.ADMID (#PCDATA)>

<!ELEMENT SA.ANSVID (#PCDATA)>

<!ELEMENT SA.TGKODE (#PCDATA)>

<!ELEMENT SA.UOFF (#PCDATA)>

<!ELEMENT SA.TGGRUPPE (#PCDATA)>

<!ELEMENT SA.SISTEJP (#PCDATA)>

<!ELEMENT SA.ANTJP (#PCDATA)>

<!ELEMENT SA.BEVTID (#PCDATA)>

<!ELEMENT SA.KASSKODE (#PCDATA)>

<!ELEMENT SA.KASSDATO (#PCDATA)>

<!ELEMENT SA.PROSJEKT (#PCDATA)>

<!ELEMENT SA.PRES (#PCDATA)>

<!ELEMENT SA.OBS (#PCDATA)>

<!ELEMENT SA.FRARKDEL (#PCDATA)>

<!ELEMENT SA.UTLDATO (#PCDATA)>

<!ELEMENT SA.UTLTIL (#PCDATA)>

