N4/latest/NUMSERIE.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT NUMSERIE.TAB (NUMSERIE+)>
<!ATTLIST NUMSERIE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT NUMSERIE (NU.ID , NU.BETEGN? , NU.AAR? , NU.SEKNR1 , NU.SEKNR2? , NU.AARAUTO)>

<!ELEMENT NU.ID (#PCDATA)>

<!ELEMENT NU.BETEGN (#PCDATA)>

<!ELEMENT NU.AAR (#PCDATA)>

<!ELEMENT NU.SEKNR1 (#PCDATA)>

<!ELEMENT NU.SEKNR2 (#PCDATA)>

<!ELEMENT NU.AARAUTO (#PCDATA)>

