N4/latest/OFFJOURN.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT OFFJOURNAL (PRODINFO , SELEKSJON? , SORTERING? , RAPPORT)>

<!ATTLIST OFFJOURNAL  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT PRODINFO (PI.ARKSKAPER , PI.BASEID? , PI.ORGNR? , PI.KOMMUNE? , PI.MERKNAD? , PI.FRADATO , PI.TILDATO , PI.PRODDATO , PI.ANTFILER , FIL+)>

<!ELEMENT SELEKSJON (#PCDATA)>

<!ELEMENT SORTERING (#PCDATA)>

<!ELEMENT RAPPORT (NOARKSAK.OJ+)>

<!ELEMENT PI.ARKSKAPER (#PCDATA)>

<!ELEMENT PI.BASEID (#PCDATA)>

<!ELEMENT PI.ORGNR (#PCDATA)>

<!ELEMENT PI.KOMMUNE (#PCDATA)>

<!ELEMENT PI.MERKNAD (#PCDATA)>

<!ELEMENT PI.FRADATO (#PCDATA)>

<!ELEMENT PI.TILDATO (#PCDATA)>

<!ELEMENT PI.PRODDATO (#PCDATA)>

<!ELEMENT PI.ANTFILER (#PCDATA)>

<!ELEMENT FIL (PI.FILNAVN , PI.FILDEL?)>

<!ELEMENT PI.FILNAVN (#PCDATA)>

<!ELEMENT PI.FILDEL (#PCDATA)>

<!ELEMENT NOARKSAK.OJ (SA.SAAR , SA.SEKNR , SA.OFFTITTEL , SA.ADMKORT? , SA.ANSVINIT? , KLASSERING.OJ* , JOURNPOST.OJ)>

<!ELEMENT SA.SAAR (#PCDATA)>

<!ELEMENT SA.SEKNR (#PCDATA)>

<!ELEMENT SA.OFFTITTEL (#PCDATA)>

<!ELEMENT SA.ADMKORT (#PCDATA)>

<!ELEMENT SA.ANSVINIT (#PCDATA)>

<!ELEMENT KLASSERING.OJ (KL.ORDNVERDI , KL.SORT? , KL.OPLTEKST? , KL.OVBESK)>

<!ELEMENT JOURNPOST.OJ (JP.JAAR , JP.SEKNR , JP.POSTNR , JP.JDATO , JP.NDOKTYPE , JP.DOKDATO? , JP.OFFINNHOLD , JP.TGKODE? , JP.UOFF? , JP.OVDATO? , AVSMOT.OJ+ , DOKLINK.OJ*)>

<!ELEMENT KL.ORDNVERDI (#PCDATA)>

<!ELEMENT KL.SORT (#PCDATA)>

<!ELEMENT KL.OPLTEKST (#PCDATA)>

<!ELEMENT KL.OVBESK (#PCDATA)>

<!ELEMENT JP.JAAR (#PCDATA)>

<!ELEMENT JP.SEKNR (#PCDATA)>

<!ELEMENT JP.POSTNR (#PCDATA)>

<!ELEMENT JP.JDATO (#PCDATA)>

<!ELEMENT JP.NDOKTYPE (#PCDATA)>

<!ELEMENT JP.DOKDATO (#PCDATA)>

<!ELEMENT JP.OFFINNHOLD (#PCDATA)>

<!ELEMENT JP.TGKODE (#PCDATA)>

<!ELEMENT JP.UOFF (#PCDATA)>

<!ELEMENT JP.OVDATO (#PCDATA)>

<!ELEMENT AVSMOT.OJ (AM.NAVN , AM.IHTYPE , AM.ADMKORT? , AM.SBHINIT? , AM.AVSKM? , AM.AVSKDATO? , AM.AVSAVDOK? , AM.BESVARDOK?)>

<!ELEMENT DOKLINK.OJ (DL.RNR , DL.TYPE , DOKBESKRIV.OJ)>

<!ELEMENT AM.NAVN (#PCDATA)>

<!ELEMENT AM.IHTYPE (#PCDATA)>

<!ELEMENT AM.ADMKORT (#PCDATA)>

<!ELEMENT AM.SBHINIT (#PCDATA)>

<!ELEMENT AM.AVSKM (#PCDATA)>

<!ELEMENT AM.AVSKDATO (#PCDATA)>

<!ELEMENT AM.AVSAVDOK (#PCDATA)>

<!ELEMENT AM.BESVARDOK (#PCDATA)>

<!ELEMENT DL.RNR (#PCDATA)>

<!ELEMENT DL.TYPE (#PCDATA)>

<!ELEMENT DOKBESKRIV.OJ (DB.TITTEL? , DOKVERSJON.OJ+)>

<!ELEMENT DB.TITTEL (#PCDATA)>

<!ELEMENT DOKVERSJON.OJ (VE.VERSJON , VE.VARIANT , VE.FILREF)>

<!ELEMENT VE.VERSJON (#PCDATA)>

<!ELEMENT VE.VARIANT (#PCDATA)>

<!ELEMENT VE.FILREF (#PCDATA)>

