N4/latest/ORDNPRI.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT ORDNPRINS.TAB (ORDNPRINS+)>
<!ATTLIST ORDNPRINS.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT ORDNPRINS (OP.ORDNPRI , OP.BETEGN , OP.LTEKST , OP.TYPE? , OP.OVBESK , OP.KLFLAGG , OP.SIFLAGG , OP.EVOK , OP.EVAUTO , OP.SEKFLAGG , OP.SEKNOK? , OP.FRADATO? , OP.TILDATO? , OP.MAKSLEN? , OP.TGKODE? , OP.MERKNAD?)>

<!ELEMENT OP.ORDNPRI (#PCDATA)>

<!ELEMENT OP.BETEGN (#PCDATA)>

<!ELEMENT OP.LTEKST (#PCDATA)>

<!ELEMENT OP.TYPE (#PCDATA)>

<!ELEMENT OP.OVBESK (#PCDATA)>

<!ELEMENT OP.KLFLAGG (#PCDATA)>

<!ELEMENT OP.SIFLAGG (#PCDATA)>

<!ELEMENT OP.EVOK (#PCDATA)>

<!ELEMENT OP.EVAUTO (#PCDATA)>

<!ELEMENT OP.SEKFLAGG (#PCDATA)>

<!ELEMENT OP.SEKNOK (#PCDATA)>

<!ELEMENT OP.FRADATO (#PCDATA)>

<!ELEMENT OP.TILDATO (#PCDATA)>

<!ELEMENT OP.MAKSLEN (#PCDATA)>

<!ELEMENT OP.TGKODE (#PCDATA)>

<!ELEMENT OP.MERKNAD (#PCDATA)>

