N4/latest/ORDNVERD.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT ORDNVERDI.TAB (ORDNVERDI+)>
<!ATTLIST ORDNVERDI.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT ORDNVERDI (OV.ORDNPRI , OV.ORDNVER , OV.FAR? , OV.BESKR? , OV.REGFLAGG , OV.SEKFLAGG , OV.SEKNOK? , OV.ARKDEL? , OV.BEVTID? , OV.KASKODE? , OV.KASREGEL? , OV.TGKODE?)>

<!ELEMENT OV.ORDNPRI (#PCDATA)>

<!ELEMENT OV.ORDNVER (#PCDATA)>

<!ELEMENT OV.FAR (#PCDATA)>

<!ELEMENT OV.BESKR (#PCDATA)>

<!ELEMENT OV.REGFLAGG (#PCDATA)>

<!ELEMENT OV.SEKFLAGG (#PCDATA)>

<!ELEMENT OV.SEKNOK (#PCDATA)>

<!ELEMENT OV.ARKDEL (#PCDATA)>

<!ELEMENT OV.BEVTID (#PCDATA)>

<!ELEMENT OV.KASKODE (#PCDATA)>

<!ELEMENT OV.KASREGEL (#PCDATA)>

<!ELEMENT OV.TGKODE (#PCDATA)>

