N4/latest/PERNAVN.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT PERNAVN.TAB (PERNAVN+)>
<!ATTLIST PERNAVN.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT PERNAVN (PN.ID , PN.PEID , PN.AKTIV , PN.INIT? , PN.NAVN? , PN.FORNAVN? , PN.MNAVN? , PN.ENAVN? , PN.FRADATO? , PN.TILDATO?)>

<!ELEMENT PN.ID (#PCDATA)>

<!ELEMENT PN.PEID (#PCDATA)>

<!ELEMENT PN.AKTIV (#PCDATA)>

<!ELEMENT PN.INIT (#PCDATA)>

<!ELEMENT PN.NAVN (#PCDATA)>

<!ELEMENT PN.FORNAVN (#PCDATA)>

<!ELEMENT PN.MNAVN (#PCDATA)>

<!ELEMENT PN.ENAVN (#PCDATA)>

<!ELEMENT PN.FRADATO (#PCDATA)>

<!ELEMENT PN.TILDATO (#PCDATA)>

