N4/latest/PERROLLE.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT PERROLLE.TAB (PERROLLE+)>
<!ATTLIST PERROLLE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT PERROLLE (PR.ID , PR.PEID , PR.ROLLEID? , PR.STDROLLE , PR.TITTEL? , PR.ADMID , PR.JENHET? , PR.ARKDEL? , PR.FRADATO? , PR.TILDATO?)>

<!ELEMENT PR.ID (#PCDATA)>

<!ELEMENT PR.PEID (#PCDATA)>

<!ELEMENT PR.ROLLEID (#PCDATA)>

<!ELEMENT PR.STDROLLE (#PCDATA)>

<!ELEMENT PR.TITTEL (#PCDATA)>

<!ELEMENT PR.ADMID (#PCDATA)>

<!ELEMENT PR.JENHET (#PCDATA)>

<!ELEMENT PR.ARKDEL (#PCDATA)>

<!ELEMENT PR.FRADATO (#PCDATA)>

<!ELEMENT PR.TILDATO (#PCDATA)>

