N4/latest/PERSON.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT PERSON.TAB (PERSON+)>
<!ATTLIST PERSON.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT PERSON (PE.ID , PE.BRUKERID? , PE.FRADATO? , PE.TILDATO?)>

<!ELEMENT PE.ID (#PCDATA)>

<!ELEMENT PE.BRUKERID (#PCDATA)>

<!ELEMENT PE.FRADATO (#PCDATA)>

<!ELEMENT PE.TILDATO (#PCDATA)>

