N4/latest/PRES.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT PRESEDENS.TAB (PRESEDENS+)>
<!ATTLIST PRESEDENS.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT PRESEDENS (PS.ID , PS.EKSTERN , PS.SAID? , PS.JPID? , PS.DATO? , PS.FORELDET , PS.TITTEL , PS.TYPE? , PS.ADMID , PS.TGKODE? , PS.TGGRUPPE? , PS.UOFF? , PS.HJEMMEL? , PS.LOK? , PS.DOKID? , PS.TEKST?)>

<!ELEMENT PS.ID (#PCDATA)>

<!ELEMENT PS.EKSTERN (#PCDATA)>

<!ELEMENT PS.SAID (#PCDATA)>

<!ELEMENT PS.JPID (#PCDATA)>

<!ELEMENT PS.DATO (#PCDATA)>

<!ELEMENT PS.FORELDET (#PCDATA)>

<!ELEMENT PS.TITTEL (#PCDATA)>

<!ELEMENT PS.TYPE (#PCDATA)>

<!ELEMENT PS.ADMID (#PCDATA)>

<!ELEMENT PS.TGKODE (#PCDATA)>

<!ELEMENT PS.TGGRUPPE (#PCDATA)>

<!ELEMENT PS.UOFF (#PCDATA)>

<!ELEMENT PS.HJEMMEL (#PCDATA)>

<!ELEMENT PS.LOK (#PCDATA)>

<!ELEMENT PS.DOKID (#PCDATA)>

<!ELEMENT PS.TEKST (#PCDATA)>

