N4/latest/ROLLE.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT ROLLE.TAB (ROLLE+)>
<!ATTLIST ROLLE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT ROLLE (RO.ROLLEID , RO.NAVN , RO.SOK , RO.SYSADM , RO.ARKLEDER , RO.LEDER , RO.SAKSBH , RO.UTVSEKR? , RO.REGUTVMED? , RO.DRIFT? , RO.REGROLLER , RO.AUT , RO.TILDELROL , RO.REGADM? , RO.REGPERSON? , RO.REGARK? , RO.REGADR , RO.NYSAK , RO.ESANSV? , RO.EKLASS? , RO.ETKLASS? , RO.ESSTAT? , RO.FLYTTJP , RO.NYJPOSTI , RO.NYJPOSTE , RO.ESBH? , RO.AVSKRIV? , RO.EKSPDOK? , RO.ESDEL? , RO.EFRIST? , RO.ETILG , RO.TEDOK , RO.ARKKON , RO.RMERKN , RO.ARKLOGG?)>

<!ELEMENT RO.ROLLEID (#PCDATA)>

<!ELEMENT RO.NAVN (#PCDATA)>

<!ELEMENT RO.SOK (#PCDATA)>

<!ELEMENT RO.SYSADM (#PCDATA)>

<!ELEMENT RO.ARKLEDER (#PCDATA)>

<!ELEMENT RO.LEDER (#PCDATA)>

<!ELEMENT RO.SAKSBH (#PCDATA)>

<!ELEMENT RO.UTVSEKR (#PCDATA)>

<!ELEMENT RO.REGUTVMED (#PCDATA)>

<!ELEMENT RO.DRIFT (#PCDATA)>

<!ELEMENT RO.REGROLLER (#PCDATA)>

<!ELEMENT RO.AUT (#PCDATA)>

<!ELEMENT RO.TILDELROL (#PCDATA)>

<!ELEMENT RO.REGADM (#PCDATA)>

<!ELEMENT RO.REGPERSON (#PCDATA)>

<!ELEMENT RO.REGARK (#PCDATA)>

<!ELEMENT RO.REGADR (#PCDATA)>

<!ELEMENT RO.NYSAK (#PCDATA)>

<!ELEMENT RO.ESANSV (#PCDATA)>

<!ELEMENT RO.EKLASS (#PCDATA)>

<!ELEMENT RO.ETKLASS (#PCDATA)>

<!ELEMENT RO.ESSTAT (#PCDATA)>

<!ELEMENT RO.FLYTTJP (#PCDATA)>

<!ELEMENT RO.NYJPOSTI (#PCDATA)>

<!ELEMENT RO.NYJPOSTE (#PCDATA)>

<!ELEMENT RO.ESBH (#PCDATA)>

<!ELEMENT RO.AVSKRIV (#PCDATA)>

<!ELEMENT RO.EKSPDOK (#PCDATA)>

<!ELEMENT RO.ESDEL (#PCDATA)>

<!ELEMENT RO.EFRIST (#PCDATA)>

<!ELEMENT RO.ETILG (#PCDATA)>

<!ELEMENT RO.TEDOK (#PCDATA)>

<!ELEMENT RO.ARKKON (#PCDATA)>

<!ELEMENT RO.RMERKN (#PCDATA)>

<!ELEMENT RO.ARKLOGG (#PCDATA)>

