N4/latest/SAKSTAT.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT SAKSTATUS.TAB (SAKSTATUS+)>
<!ATTLIST SAKSTATUS.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT SAKSTATUS (SS.STATUS , SS.BETEGN , SS.MIDLERTIDIG? , SS.LUKKET? , SS.UTG?)>

<!ELEMENT SS.STATUS (#PCDATA)>

<!ELEMENT SS.BETEGN (#PCDATA)>

<!ELEMENT SS.MIDLERTIDIG (#PCDATA)>

<!ELEMENT SS.LUKKET (#PCDATA)>

<!ELEMENT SS.UTG (#PCDATA)>

