N4/latest/STDVERDI.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT STDVERDI.TAB (STDVERDI+)>
<!ATTLIST STDVERDI.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT STDVERDI (SV.ADMID , SV.SKTADM? , SV.TILGBEG? , SV.SSARKIV? , SV.SSSAKSBH? , SV.TGSAK? , SV.TGJP1? , SV.TGJP2? , SV.BFRIST1? , SV.BFRIST2? , SV.BFFRIST1? , SV.BFFRIST2? , SV.ARKFAVSL? , SV.EKSTDOKTG? , SV.BEVER?)>

<!ELEMENT SV.ADMID (#PCDATA)>

<!ELEMENT SV.SKTADM (#PCDATA)>

<!ELEMENT SV.TILGBEG (#PCDATA)>

<!ELEMENT SV.SSARKIV (#PCDATA)>

<!ELEMENT SV.SSSAKSBH (#PCDATA)>

<!ELEMENT SV.TGSAK (#PCDATA)>

<!ELEMENT SV.TGJP1 (#PCDATA)>

<!ELEMENT SV.TGJP2 (#PCDATA)>

<!ELEMENT SV.BFRIST1 (#PCDATA)>

<!ELEMENT SV.BFRIST2 (#PCDATA)>

<!ELEMENT SV.BFFRIST1 (#PCDATA)>

<!ELEMENT SV.BFFRIST2 (#PCDATA)>

<!ELEMENT SV.ARKFAVSL (#PCDATA)>

<!ELEMENT SV.EKSTDOKTG (#PCDATA)>

<!ELEMENT SV.BEVER (#PCDATA)>

