N4/latest/TGINFO.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT TGINFO.TAB (TGINFO+)>
<!ATTLIST TGINFO.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT TGINFO (TJ.PEID , TJ.JENHET? , TJ.ADMID , TJ.AUTAV , TJ.FRADATO , TJ.TILDATO? , TJ.AUTOPPAV?)>

<!ELEMENT TJ.PEID (#PCDATA)>

<!ELEMENT TJ.JENHET (#PCDATA)>

<!ELEMENT TJ.ADMID (#PCDATA)>

<!ELEMENT TJ.AUTAV (#PCDATA)>

<!ELEMENT TJ.FRADATO (#PCDATA)>

<!ELEMENT TJ.TILDATO (#PCDATA)>

<!ELEMENT TJ.AUTOPPAV (#PCDATA)>

