N4/latest/TGKODE.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT TGKODE.TAB (TGKODE+)>
<!ATTLIST TGKODE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT TGKODE (TK.TGKODE , TK.BETEGN , TK.SERIE? , TK.RANG? , TK.FRADATO? , TK.TILDATO? , TK.EPOSTNIV?)>

<!ELEMENT TK.TGKODE (#PCDATA)>

<!ELEMENT TK.BETEGN (#PCDATA)>

<!ELEMENT TK.SERIE (#PCDATA)>

<!ELEMENT TK.RANG (#PCDATA)>

<!ELEMENT TK.FRADATO (#PCDATA)>

<!ELEMENT TK.TILDATO (#PCDATA)>

<!ELEMENT TK.EPOSTNIV (#PCDATA)>

