N4/latest/UTDOKTYP.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT UTDOKTYP.TAB (UTDOKTYP+)>
<!ATTLIST UTDOKTYP.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTDOKTYP (DU.KODE , DU.BETEGN , DU.MAL? , DU.NDOKTYPE? , DU.MOTEDOK? , DU.AUTOJOUR? , DU.ALDRIJOUR?)>

<!ELEMENT DU.KODE (#PCDATA)>

<!ELEMENT DU.BETEGN (#PCDATA)>

<!ELEMENT DU.MAL (#PCDATA)>

<!ELEMENT DU.NDOKTYPE (#PCDATA)>

<!ELEMENT DU.MOTEDOK (#PCDATA)>

<!ELEMENT DU.AUTOJOUR (#PCDATA)>

<!ELEMENT DU.ALDRIJOUR (#PCDATA)>

