N4/latest/UTVALG.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT UTVALG.TAB (UTVALG+)>
<!ATTLIST UTVALG.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTVALG (UT.ID , UT.KODE , UT.NAVN , UT.BESKR? , UT.TYPE? , UT.ADMID , UT.FRADATO? , UT.TILDATO? , UT.OPPNAV? , UT.OPPNAVUTV? , UT.OPPNDATO? , UT.ANTMEDL? , UT.ETABLERT? , UT.NEDLAGT? , UT.ARKDEL? , UT.ARKKODE? , UT.ADRID? , UT.MONUMSER , UT.MOTEFORM? , UT.SAMMENR?)>

<!ELEMENT UT.ID (#PCDATA)>

<!ELEMENT UT.KODE (#PCDATA)>

<!ELEMENT UT.NAVN (#PCDATA)>

<!ELEMENT UT.BESKR (#PCDATA)>

<!ELEMENT UT.TYPE (#PCDATA)>

<!ELEMENT UT.ADMID (#PCDATA)>

<!ELEMENT UT.FRADATO (#PCDATA)>

<!ELEMENT UT.TILDATO (#PCDATA)>

<!ELEMENT UT.OPPNAV (#PCDATA)>

<!ELEMENT UT.OPPNAVUTV (#PCDATA)>

<!ELEMENT UT.OPPNDATO (#PCDATA)>

<!ELEMENT UT.ANTMEDL (#PCDATA)>

<!ELEMENT UT.ETABLERT (#PCDATA)>

<!ELEMENT UT.NEDLAGT (#PCDATA)>

<!ELEMENT UT.ARKDEL (#PCDATA)>

<!ELEMENT UT.ARKKODE (#PCDATA)>

<!ELEMENT UT.ADRID (#PCDATA)>

<!ELEMENT UT.MONUMSER (#PCDATA)>

<!ELEMENT UT.MOTEFORM (#PCDATA)>

<!ELEMENT UT.SAMMENR (#PCDATA)>

