N4/latest/UTVBEHDO.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT UTVBEHDOK.TAB (UTVBEHDOK+)>
<!ATTLIST UTVBEHDOK.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTVBEHDOK (BD.BEHID , BD.DOKID? , BD.NDOKTYPE? , BD.STATUS , BD.JPID? , BD.DOKTYPE)>

<!ELEMENT BD.BEHID (#PCDATA)>

<!ELEMENT BD.DOKID (#PCDATA)>

<!ELEMENT BD.NDOKTYPE (#PCDATA)>

<!ELEMENT BD.STATUS (#PCDATA)>

<!ELEMENT BD.JPID (#PCDATA)>

<!ELEMENT BD.DOKTYPE (#PCDATA)>

