N4/latest/UTVBEH.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT UTVBEHANDLING.TAB (UTVBEHANDLING+)>
<!ATTLIST UTVBEHANDLING.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTVBEHANDLING (UB.ID , UB.UTSAKID , UB.RFOLGE , UB.MOID? , UB.USEKNR? , UB.AAR? , UB.BEHSTATUS , UB.ADMID , UB.SBHID , UB.PROTOKOLL)>

<!ELEMENT UB.ID (#PCDATA)>

<!ELEMENT UB.UTSAKID (#PCDATA)>

<!ELEMENT UB.RFOLGE (#PCDATA)>

<!ELEMENT UB.MOID (#PCDATA)>

<!ELEMENT UB.USEKNR (#PCDATA)>

<!ELEMENT UB.AAR (#PCDATA)>

<!ELEMENT UB.BEHSTATUS (#PCDATA)>

<!ELEMENT UB.ADMID (#PCDATA)>

<!ELEMENT UB.SBHID (#PCDATA)>

<!ELEMENT UB.PROTOKOLL (#PCDATA)>

