N4/latest/UTVMDOK.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT UTVMOTEDOK.TAB (UTVMOTEDOK+)>
<!ATTLIST UTVMOTEDOK.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTVMOTEDOK (MD.ID , MD.UTVID , MD.MOID , MD.DOKTYPE , MD.REGDATO , MD.STATUS , MD.ARKKODE? , MD.PAPIRDOK , MD.INNHOLD , MD.U1? , MD.ADMID , MD.SBHID , MD.TGKODE? , MD.TGGRUPPE? , MD.UOFF? , MD.AGDATO? , MD.AGKODE? , MD.BEVTID? , MD.KASSDATO? , MD.KASSKODE?)>

<!ELEMENT MD.ID (#PCDATA)>

<!ELEMENT MD.UTVID (#PCDATA)>

<!ELEMENT MD.MOID (#PCDATA)>

<!ELEMENT MD.DOKTYPE (#PCDATA)>

<!ELEMENT MD.REGDATO (#PCDATA)>

<!ELEMENT MD.STATUS (#PCDATA)>

<!ELEMENT MD.ARKKODE (#PCDATA)>

<!ELEMENT MD.PAPIRDOK (#PCDATA)>

<!ELEMENT MD.INNHOLD (#PCDATA)>

<!ELEMENT MD.U1 (#PCDATA)>

<!ELEMENT MD.ADMID (#PCDATA)>

<!ELEMENT MD.SBHID (#PCDATA)>

<!ELEMENT MD.TGKODE (#PCDATA)>

<!ELEMENT MD.TGGRUPPE (#PCDATA)>

<!ELEMENT MD.UOFF (#PCDATA)>

<!ELEMENT MD.AGDATO (#PCDATA)>

<!ELEMENT MD.AGKODE (#PCDATA)>

<!ELEMENT MD.BEVTID (#PCDATA)>

<!ELEMENT MD.KASSDATO (#PCDATA)>

<!ELEMENT MD.KASSKODE (#PCDATA)>

