N4/latest/UTVMEDL.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT UTVMEDLEM.TAB (UTVMEDLEM+)>
<!ATTLIST UTVMEDLEM.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTVMEDLEM (UM.UTVID , UM.PNID , UM.RANGERING , UM.VARAFOR? , UM.FUNK , UM.FRADATO? , UM.TILDATO? , UM.SORT? , UM.VARIGHET? , UM.REPRES? , UM.SEKR? , UM.MEDLEM? , UM.MERKNAD?)>

<!ELEMENT UM.UTVID (#PCDATA)>

<!ELEMENT UM.PNID (#PCDATA)>

<!ELEMENT UM.RANGERING (#PCDATA)>

<!ELEMENT UM.VARAFOR (#PCDATA)>

<!ELEMENT UM.FUNK (#PCDATA)>

<!ELEMENT UM.FRADATO (#PCDATA)>

<!ELEMENT UM.TILDATO (#PCDATA)>

<!ELEMENT UM.SORT (#PCDATA)>

<!ELEMENT UM.VARIGHET (#PCDATA)>

<!ELEMENT UM.REPRES (#PCDATA)>

<!ELEMENT UM.SEKR (#PCDATA)>

<!ELEMENT UM.MEDLEM (#PCDATA)>

<!ELEMENT UM.MERKNAD (#PCDATA)>

