N4/latest/UTVMEDLF.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT UTVMEDLFUNK.TAB (UTVMEDLFUNK+)>
<!ATTLIST UTVMEDLFUNK.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTVMEDLFUNK (MK.KODE , MK.BETEGN , MK.TALE? , MK.MEDLEM? , MK.SEKR? , MK.FMKODE?)>

<!ELEMENT MK.KODE (#PCDATA)>

<!ELEMENT MK.BETEGN (#PCDATA)>

<!ELEMENT MK.TALE (#PCDATA)>

<!ELEMENT MK.MEDLEM (#PCDATA)>

<!ELEMENT MK.SEKR (#PCDATA)>

<!ELEMENT MK.FMKODE (#PCDATA)>

