N4/latest/UTVSAK.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT UTVALGSAK.TAB (UTVALGSAK+)>
<!ATTLIST UTVALGSAK.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTVALGSAK (US.UTVID , US.ID , US.SAKSTYPE , US.TITTEL , US.U1? , US.LUKKET , US.TGKODE? , US.TGGRUPPE? , US.UOFF? , US.SAMMENR , US.MERKNAD? , US.SAID , US.POLSGID? , US.JPID?)>

<!ELEMENT US.UTVID (#PCDATA)>

<!ELEMENT US.ID (#PCDATA)>

<!ELEMENT US.SAKSTYPE (#PCDATA)>

<!ELEMENT US.TITTEL (#PCDATA)>

<!ELEMENT US.U1 (#PCDATA)>

<!ELEMENT US.LUKKET (#PCDATA)>

<!ELEMENT US.TGKODE (#PCDATA)>

<!ELEMENT US.TGGRUPPE (#PCDATA)>

<!ELEMENT US.UOFF (#PCDATA)>

<!ELEMENT US.SAMMENR (#PCDATA)>

<!ELEMENT US.MERKNAD (#PCDATA)>

<!ELEMENT US.SAID (#PCDATA)>

<!ELEMENT US.POLSGID (#PCDATA)>

<!ELEMENT US.JPID (#PCDATA)>

