N4/DTD/AVSKRM.DTD



<!ELEMENT AVSKRMAATE.TAB (AVSKRMAATE+)>
<!ATTLIST AVSKRMAATE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT AVSKRMAATE (AV.KODE , AV.BETEGN , AV.MIDLERTID , AV.BESVART)>

<!ELEMENT AV.KODE (#PCDATA)>

<!ELEMENT AV.BETEGN (#PCDATA)>

<!ELEMENT AV.MIDLERTID (#PCDATA)>

<!ELEMENT AV.BESVART (#PCDATA)>

