N4/DTD/UTVBEHDO.DTD



<!ELEMENT UTVBEHDOK.TAB (UTVBEHDOK+)>
<!ATTLIST UTVBEHDOK.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTVBEHDOK (BD.BEHID , BD.DOKID? , BD.NDOKTYPE? , BD.STATUS , BD.JPID? , BD.DOKTYPE)>

<!ELEMENT BD.BEHID (#PCDATA)>

<!ELEMENT BD.DOKID (#PCDATA)>

<!ELEMENT BD.NDOKTYPE (#PCDATA)>

<!ELEMENT BD.STATUS (#PCDATA)>

<!ELEMENT BD.JPID (#PCDATA)>

<!ELEMENT BD.DOKTYPE (#PCDATA)>

