N4/v1.0/ADMINDEL.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT ADMINDEL.TAB (ADMINDEL+)>
<!ATTLIST ADMINDEL.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT ADMINDEL (AI.ID , AI.IDFAR? , AI.FORKDN? , AI.ADMKORT? , AI.ADMBET? , AI.TYPE? , AI.RPGRUPPE? , AI.FRADATO? , AI.TILDATO?)>

<!ELEMENT AI.ID (#PCDATA)>

<!ELEMENT AI.IDFAR (#PCDATA)>

<!ELEMENT AI.FORKDN (#PCDATA)>

<!ELEMENT AI.ADMKORT (#PCDATA)>

<!ELEMENT AI.ADMBET (#PCDATA)>

<!ELEMENT AI.TYPE (#PCDATA)>

<!ELEMENT AI.RPGRUPPE (#PCDATA)>

<!ELEMENT AI.FRADATO (#PCDATA)>

<!ELEMENT AI.TILDATO (#PCDATA)>

