N4/v1.0/ALIASADM.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT ALIASADMENH.TAB (ALIASADMENH+)>
<!ATTLIST ALIASADMENH.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT ALIASADMENH (AL.ADMIDFRA , AL.ADMIDTIL , AL.MERKNAD)>

<!ELEMENT AL.ADMIDFRA (#PCDATA)>

<!ELEMENT AL.ADMIDTIL (#PCDATA)>

<!ELEMENT AL.MERKNAD (#PCDATA)>

