N4/v1.0/ARKIVPER.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT ARKIVPERIODE.TAB (ARKIVPERIODE+)>

<!ATTLIST ARKIVPERIODE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT ARKIVPERIODE (AP.ARKIV , AP.PERIODE , AP.STATUS? , AP.FRADATO? , AP.TILDATO? , AP.MERKNAD?)>

<!ELEMENT AP.ARKIV (#PCDATA)>

<!ELEMENT AP.PERIODE (#PCDATA)>

<!ELEMENT AP.STATUS (#PCDATA)>

<!ELEMENT AP.FRADATO (#PCDATA)>

<!ELEMENT AP.TILDATO (#PCDATA)>

<!ELEMENT AP.MERKNAD (#PCDATA)>

