N4/v1.0/ARKIVDEL.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT ARKIVDEL.TAB (ARKIVDEL+)>
<!ATTLIST ARKIVDEL.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT ARKIVDEL (AD.ARKDEL , AD.BETEGN , AD.ARKIV , AD.PERIODE? , AD.ASTATUS , AD.PRIMNOK , AD.SPEFSAK? , AD.SPEFDOK? , AD.LUKKET? , AD.BSPRINS? , AD.BSKODE? , AD.FORTS? , AD.PAPIR? , AD.ELDOK? , AD.NUMSER? , AD.PRIMKOD? , AD.SEKNOK? , AD.FRISEK? , AD.RPGRUPPE? , AD.FRADATO? , AD.TILDATO? , AD.LOK? , AD.MERKNAD? , AD.RAPUTV? , AD.EKSPDATO? , AD.KONTRDATO? , AD.KONTRAV?)>

<!ELEMENT AD.ARKDEL (#PCDATA)>

<!ELEMENT AD.BETEGN (#PCDATA)>

<!ELEMENT AD.ARKIV (#PCDATA)>

<!ELEMENT AD.PERIODE (#PCDATA)>

<!ELEMENT AD.ASTATUS (#PCDATA)>

<!ELEMENT AD.PRIMNOK (#PCDATA)>

<!ELEMENT AD.SPEFSAK (#PCDATA)>

<!ELEMENT AD.SPEFDOK (#PCDATA)>

<!ELEMENT AD.LUKKET (#PCDATA)>

<!ELEMENT AD.BSPRINS (#PCDATA)>

<!ELEMENT AD.BSKODE (#PCDATA)>

<!ELEMENT AD.FORTS (#PCDATA)>

<!ELEMENT AD.PAPIR (#PCDATA)>

<!ELEMENT AD.ELDOK (#PCDATA)>

<!ELEMENT AD.NUMSER (#PCDATA)>

<!ELEMENT AD.PRIMKOD (#PCDATA)>

<!ELEMENT AD.SEKNOK (#PCDATA)>

<!ELEMENT AD.FRISEK (#PCDATA)>

<!ELEMENT AD.RPGRUPPE (#PCDATA)>

<!ELEMENT AD.FRADATO (#PCDATA)>

<!ELEMENT AD.TILDATO (#PCDATA)>

<!ELEMENT AD.LOK (#PCDATA)>

<!ELEMENT AD.MERKNAD (#PCDATA)>

<!ELEMENT AD.RAPUTV (#PCDATA)>

<!ELEMENT AD.EKSPDATO (#PCDATA)>

<!ELEMENT AD.KONTRDATO (#PCDATA)>

<!ELEMENT AD.KONTRAV (#PCDATA)>

