N4/v1.0/AVSMOT.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT AVSMOT.TAB (AVSMOT+)>
<!ATTLIST AVSMOT.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT AVSMOT (AM.ID , AM.JPID , AM.IHTYPE , AM.KOPIMOT? , AM.BEHANSV? , AM.NAVN? , AM.GRUPPEMOT? , AM.GRUPPE? , AM.U1? , AM.KORTNAVN? , AM.ADRESSE? , AM.POSTNR? , AM.POSTSTED? , AM.UTLAND? , AM.EPOSTADR? , AM.REF? , AM.ADMID , AM.SBHID , AM.JENHET? , AM.AVSKM? , AM.AVSKAV? , AM.AVSKDATO? , AM.BESVAR? , AM.FRIST? , AM.FORSEND? , AM.FSSTATUS?)>

<!ELEMENT AM.ID (#PCDATA)>

<!ELEMENT AM.JPID (#PCDATA)>

<!ELEMENT AM.IHTYPE (#PCDATA)>

<!ELEMENT AM.KOPIMOT (#PCDATA)>

<!ELEMENT AM.BEHANSV (#PCDATA)>

<!ELEMENT AM.NAVN (#PCDATA)>

<!ELEMENT AM.GRUPPEMOT (#PCDATA)>

<!ELEMENT AM.GRUPPE (#PCDATA)>

<!ELEMENT AM.U1 (#PCDATA)>

<!ELEMENT AM.KORTNAVN (#PCDATA)>

<!ELEMENT AM.ADRESSE (#PCDATA)>

<!ELEMENT AM.POSTNR (#PCDATA)>

<!ELEMENT AM.POSTSTED (#PCDATA)>

<!ELEMENT AM.UTLAND (#PCDATA)>

<!ELEMENT AM.EPOSTADR (#PCDATA)>

<!ELEMENT AM.REF (#PCDATA)>

<!ELEMENT AM.ADMID (#PCDATA)>

<!ELEMENT AM.SBHID (#PCDATA)>

<!ELEMENT AM.JENHET (#PCDATA)>

<!ELEMENT AM.AVSKM (#PCDATA)>

<!ELEMENT AM.AVSKAV (#PCDATA)>

<!ELEMENT AM.AVSKDATO (#PCDATA)>

<!ELEMENT AM.BESVAR (#PCDATA)>

<!ELEMENT AM.FRIST (#PCDATA)>

<!ELEMENT AM.FORSEND (#PCDATA)>

<!ELEMENT AM.FSSTATUS (#PCDATA)>

