N4/v1.0/DIGISIGN.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT DIGISIGN.TAB (DIGISIGN+)>
<!ATTLIST DIGISIGN.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT DIGISIGN (DI.DOKID , DI.VERSJON , DI.VARIANT , DI.SIGNNR , DI.DOKSIGN , DI.ARKSIGN , DI.FORSIGN , DI.SIGVERAV , DI.SIGVERDATO , DI.SIGNTEKST , DI.SIGNATUR?)>

<!ELEMENT DI.DOKID (#PCDATA)>

<!ELEMENT DI.VERSJON (#PCDATA)>

<!ELEMENT DI.VARIANT (#PCDATA)>

<!ELEMENT DI.SIGNNR (#PCDATA)>

<!ELEMENT DI.DOKSIGN (#PCDATA)>

<!ELEMENT DI.ARKSIGN (#PCDATA)>

<!ELEMENT DI.FORSIGN (#PCDATA)>

<!ELEMENT DI.SIGVERAV (#PCDATA)>

<!ELEMENT DI.SIGVERDATO (#PCDATA)>

<!ELEMENT DI.SIGNTEKST (#PCDATA)>

<!ELEMENT DI.SIGNATUR (#PCDATA)>

