N4/v1.0/DIGISERT.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT DIGISERT.TAB (DIGISERT+)>
<!ATTLIST DIGISERT.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT DIGISERT (SE.ID , SE.ADRID , SE.NAVN , SE.EPOST? , SE.TTPEPOST , SE.FRADATO? , SE.TILDATO? , SE.VERAV , SE.VERDATO , SE.SIGNTEKST , SE.SERT?)>

<!ELEMENT SE.ID (#PCDATA)>

<!ELEMENT SE.ADRID (#PCDATA)>

<!ELEMENT SE.NAVN (#PCDATA)>

<!ELEMENT SE.EPOST (#PCDATA)>

<!ELEMENT SE.TTPEPOST (#PCDATA)>

<!ELEMENT SE.FRADATO (#PCDATA)>

<!ELEMENT SE.TILDATO (#PCDATA)>

<!ELEMENT SE.VERAV (#PCDATA)>

<!ELEMENT SE.VERDATO (#PCDATA)>

<!ELEMENT SE.SIGNTEKST (#PCDATA)>

<!ELEMENT SE.SERT (#PCDATA)>

