N4/v1.0/DOKTYPE.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT NOARKDOKTYPE.TAB (NOARKDOKTYPE+)>
<!ATTLIST NOARKDOKTYPE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT NOARKDOKTYPE (ND.DOKTYPE , ND.BETEGN , ND.EKSTPROD? , ND.INTMOT? , ND.EKSTMOT? , ND.OPPF?)>

<!ELEMENT ND.DOKTYPE (#PCDATA)>

<!ELEMENT ND.BETEGN (#PCDATA)>

<!ELEMENT ND.EKSTPROD (#PCDATA)>

<!ELEMENT ND.INTMOT (#PCDATA)>

<!ELEMENT ND.EKSTMOT (#PCDATA)>

<!ELEMENT ND.OPPF (#PCDATA)>

