N4/v1.0/ENHTYPE.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT ENHETSTYPE.TAB (ENHETSTYPE+)>
<!ATTLIST ENHETSTYPE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT ENHETSTYPE (ET.KODE , ET.UNDEREN? , ET.LTEKST? , ET.BETEGN)>

<!ELEMENT ET.KODE (#PCDATA)>

<!ELEMENT ET.UNDEREN (#PCDATA)>

<!ELEMENT ET.LTEKST (#PCDATA)>

<!ELEMENT ET.BETEGN (#PCDATA)>

