N4/v1.0/EOPRES.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT EOPRESEDENS.TAB (EOPRESEDENS+)>
<!ATTLIST EOPRESEDENS.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT EOPRESEDENS (EP.PSID , EP.SORDFLAGG , EP.ORD)>

<!ELEMENT EP.PSID (#PCDATA)>

<!ELEMENT EP.SORDFLAGG (#PCDATA)>

<!ELEMENT EP.ORD (#PCDATA)>

