N4/v1.0/ESAKREF.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT EKSTSAKREF.TAB (EKSTSAKREF+)>
<!ATTLIST EKSTSAKREF.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT EKSTSAKREF (ER.JPID , ER.ASAAR , ER.ASNR , ER.ABASEID? , ER.AJPID? , ER.REF? , ER.ADMID? , ER.ADMBET? , ER.SBHID? , ER.SBHNAVN? , ER.SBHINIT?)>

<!ELEMENT ER.JPID (#PCDATA)>

<!ELEMENT ER.ASAAR (#PCDATA)>

<!ELEMENT ER.ASNR (#PCDATA)>

<!ELEMENT ER.ABASEID (#PCDATA)>

<!ELEMENT ER.AJPID (#PCDATA)>

<!ELEMENT ER.REF (#PCDATA)>

<!ELEMENT ER.ADMID (#PCDATA)>

<!ELEMENT ER.ADMBET (#PCDATA)>

<!ELEMENT ER.SBHID (#PCDATA)>

<!ELEMENT ER.SBHNAVN (#PCDATA)>

<!ELEMENT ER.SBHINIT (#PCDATA)>

