N4/v1.0/FRAMMOTE.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT FRAMMOTE.TAB (FRAMMOTE+)>
<!ATTLIST FRAMMOTE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT FRAMMOTE (FU.MOID , FU.PNID , FU.SORT , FU.FUNK , FU.VARAFOR? , FU.SEKR , FU.MERKNAD?)>

<!ELEMENT FU.MOID (#PCDATA)>

<!ELEMENT FU.PNID (#PCDATA)>

<!ELEMENT FU.SORT (#PCDATA)>

<!ELEMENT FU.FUNK (#PCDATA)>

<!ELEMENT FU.VARAFOR (#PCDATA)>

<!ELEMENT FU.SEKR (#PCDATA)>

<!ELEMENT FU.MERKNAD (#PCDATA)>

