N4/v1.0/INFOTYPE.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT INFOTYPE.TAB (INFOTYPE+)>
<!ATTLIST INFOTYPE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT INFOTYPE (IT.KODE , IT.BETEGN , IT.LTEKST1 , IT.LTEKST2? , IT.MERKNAD , IT.AUTOLOG , IT.TGKODE? , IT.OPPBETID?)>

<!ELEMENT IT.KODE (#PCDATA)>

<!ELEMENT IT.BETEGN (#PCDATA)>

<!ELEMENT IT.LTEKST1 (#PCDATA)>

<!ELEMENT IT.LTEKST2 (#PCDATA)>

<!ELEMENT IT.MERKNAD (#PCDATA)>

<!ELEMENT IT.AUTOLOG (#PCDATA)>

<!ELEMENT IT.TGKODE (#PCDATA)>

<!ELEMENT IT.OPPBETID (#PCDATA)>

