N4/v1.0/JFORNVER.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT JFORDNVER.TAB (JFORDNVER+)>
<!ATTLIST JFORDNVER.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT JFORDNVER (JO.ORDNPRI1 , JO.ORDNVER1 , JO.ORDNPRI2 , JO.ORDNVER2 , JO.MERKNAD?)>

<!ELEMENT JO.ORDNPRI1 (#PCDATA)>

<!ELEMENT JO.ORDNVER1 (#PCDATA)>

<!ELEMENT JO.ORDNPRI2 (#PCDATA)>

<!ELEMENT JO.ORDNVER2 (#PCDATA)>

<!ELEMENT JO.MERKNAD (#PCDATA)>

