N4/v1.0/JOURNSTA.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT JOURNSTATUS.TAB (JOURNSTATUS+)>
<!ATTLIST JOURNSTATUS.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT JOURNSTATUS (JS.STATUS , JS.BETEGN , JS.ANSVAR? , JS.DOKKONTR? , JS.EKSPEDERT? , JS.FORARKIV? , JS.FORLEDER? , JS.FORSAKSBEH? , JS.FOREKST? , JS.FORINT?)>

<!ELEMENT JS.STATUS (#PCDATA)>

<!ELEMENT JS.BETEGN (#PCDATA)>

<!ELEMENT JS.ANSVAR (#PCDATA)>

<!ELEMENT JS.DOKKONTR (#PCDATA)>

<!ELEMENT JS.EKSPEDERT (#PCDATA)>

<!ELEMENT JS.FORARKIV (#PCDATA)>

<!ELEMENT JS.FORLEDER (#PCDATA)>

<!ELEMENT JS.FORSAKSBEH (#PCDATA)>

<!ELEMENT JS.FOREKST (#PCDATA)>

<!ELEMENT JS.FORINT (#PCDATA)>

