N4/v1.0/KPAUT.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT KPAUTORIS.TAB (KPAUTORIS+)>
<!ATTLIST KPAUTORIS.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT KPAUTORIS (KA.ADRID , KA.TGKODE , KA.FRADATO? , KA.TILDATO? , KA.AUTAV , KA.AUTDATO)>

<!ELEMENT KA.ADRID (#PCDATA)>

<!ELEMENT KA.TGKODE (#PCDATA)>

<!ELEMENT KA.FRADATO (#PCDATA)>

<!ELEMENT KA.TILDATO (#PCDATA)>

<!ELEMENT KA.AUTAV (#PCDATA)>

<!ELEMENT KA.AUTDATO (#PCDATA)>

