N4/v1.0/LAGRFORM.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT LAGRFORMAT.TAB (LAGRFORMAT+)>
<!ATTLIST LAGRFORMAT.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT LAGRFORMAT (LF.KODE , LF.BESKRIV , LF.ARKIV , LF.FILTYPE?)>

<!ELEMENT LF.KODE (#PCDATA)>

<!ELEMENT LF.BESKRIV (#PCDATA)>

<!ELEMENT LF.ARKIV (#PCDATA)>

<!ELEMENT LF.FILTYPE (#PCDATA)>

