N4/v1.0/LFPRES.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT LFPRESEDENS.TAB (LFPRESEDENS+)>
<!ATTLIST LFPRESEDENS.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT LFPRESEDENS (PL.PSID , PL.LOVFORSK , PL.PARAGRAF? , PL.MERKNAD?)>

<!ELEMENT PL.PSID (#PCDATA)>

<!ELEMENT PL.LOVFORSK (#PCDATA)>

<!ELEMENT PL.PARAGRAF (#PCDATA)>

<!ELEMENT PL.MERKNAD (#PCDATA)>

