N4/v1.0/MERKNAD.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT MERKNAD.TAB (MERKNAD+)>
<!ATTLIST MERKNAD.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT MERKNAD (ME.ID , ME.SAID? , ME.JPID? , ME.DOKID? , ME.DOKVER? , ME.VARIANT? , ME.RNR? , ME.ITYPE , ME.TGKODE? , ME.TGGRUPPE? , ME.OPPBEDATO? , ME.REGDATO? , ME.REGKL? , ME.REGAV , ME.PVGAV , ME.TEKST? , ME.REFDOKID?)>

<!ELEMENT ME.ID (#PCDATA)>

<!ELEMENT ME.SAID (#PCDATA)>

<!ELEMENT ME.JPID (#PCDATA)>

<!ELEMENT ME.DOKID (#PCDATA)>

<!ELEMENT ME.DOKVER (#PCDATA)>

<!ELEMENT ME.VARIANT (#PCDATA)>

<!ELEMENT ME.RNR (#PCDATA)>

<!ELEMENT ME.ITYPE (#PCDATA)>

<!ELEMENT ME.TGKODE (#PCDATA)>

<!ELEMENT ME.TGGRUPPE (#PCDATA)>

<!ELEMENT ME.OPPBEDATO (#PCDATA)>

<!ELEMENT ME.REGDATO (#PCDATA)>

<!ELEMENT ME.REGKL (#PCDATA)>

<!ELEMENT ME.REGAV (#PCDATA)>

<!ELEMENT ME.PVGAV (#PCDATA)>

<!ELEMENT ME.TEKST (#PCDATA)>

<!ELEMENT ME.REFDOKID (#PCDATA)>

