N4/v1.0/MOTDOKL.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT MOTEDOKLINK.TAB (MOTEDOKLINK+)>
<!ATTLIST MOTEDOKLINK.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT MOTEDOKLINK (ML.MDPID , ML.RNR , ML.DOKID , ML.TYPE , ML.TKDATO , ML.TKAV)>

<!ELEMENT ML.MDPID (#PCDATA)>

<!ELEMENT ML.RNR (#PCDATA)>

<!ELEMENT ML.DOKID (#PCDATA)>

<!ELEMENT ML.TYPE (#PCDATA)>

<!ELEMENT ML.TKDATO (#PCDATA)>

<!ELEMENT ML.TKAV (#PCDATA)>

