N4/v1.0/NOARKIH.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT NOARK.IH (EKSPORTINFO , TABELLINFO+)>

<!ATTLIST NOARK.IH  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT EKSPORTINFO (EI.ARKSKAPER , EI.SYSTEMNAVN , EI.ORGNR? , EI.KOMMUNE? , EI.BASEID? , EI.MERKNAD? , EI.FRADATO , EI.TILDATO , EI.PRODDATO)>

<!ELEMENT TABELLINFO (TI.TABELL , ATTRIBUTTER , TI.TABMERKNAD? , TI.ANTFILER , FIL+)>

<!ELEMENT EI.ARKSKAPER (#PCDATA)>

<!ELEMENT EI.SYSTEMNAVN (#PCDATA)>

<!ELEMENT EI.BASEID (#PCDATA)>

<!ELEMENT EI.ORGNR (#PCDATA)>

<!ELEMENT EI.KOMMUNE (#PCDATA)>

<!ELEMENT EI.TILDATO (#PCDATA)>

<!ELEMENT EI.PRODDATO (#PCDATA)>

<!ELEMENT TI.TABELL (#PCDATA)>

<!ELEMENT ATTRIBUTTER (TI.ATTR+)>

<!ELEMENT TI.TABMERKNAD (#PCDATA)>

<!ELEMENT TI.ANTFILER (#PCDATA)>

<!ELEMENT FIL (TI.FILNAVN , TI.FILDEL? , TI.ANTPOSTER)>

<!ELEMENT TI.ATTR (#PCDATA)>

<!ELEMENT TI.FILNAVN (#PCDATA)>

<!ELEMENT TI.FILDEL (#PCDATA)>

<!ELEMENT TI.ANTPOSTER (#PCDATA)>

<!ELEMENT EI.MERKNAD (#PCDATA)>

<!ELEMENT EI.FRADATO (#PCDATA)>

