N4/v1.0/NOARKH.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT NOARK.H (AVSINFO , MOTINFO? , JOURNINFO)>

<!ATTLIST NOARK.H  VERSJON CDATA  #FIXED '1.0' >

<!ELEMENT AVSINFO (EI.ANTDOK , EI.NAVN , EI.ORGNR? , EI.BASEID? , EI.ORGNR? , EI.ADRESSE? , (EI.POSTNR , EI.POSTSTED)? , EI.EPOSTADR? , EI.TLF? , EI.FAKS?)>

<!ELEMENT MOTINFO (ER.ABASEID? , ER.ASAAR , ER.ASNR , ER.AJPID? , ER.REF? , ER.ADMID? , ER.ADMBET? , ER.SBHID? , ER.SBHNAVN? , ER.SBHINIT?)>

<!ELEMENT JOURNINFO (SA.SAAR , SA.SEKNR , SA.TITTEL , JP.JPID , JP.JPOSTNR , JP.DOKDATO , JP.INNHOLD , JP.TGKODE? , JP.UOFF? , JP.FORFDATO? , SA.ADMID? , SA.ADMBET? , SA.ANSVID? , SA.ANSVNAVN? , SA.ANSVINIT? , SA.PROSJEKT? , JP.AGDATO? , JP.AGKODE? , JP.SAKSDEL? , AM.REF? , AM.ADMID? , AM.ADMBET? , AM.SBHID? , AM.SBHNAVN? , AM.SBHINIT? , KLASSERING.EP*)>

<!ELEMENT EI.ANTDOK (#PCDATA)>

<!ELEMENT EI.NAVN (#PCDATA)>

<!ELEMENT EI.ORGNR (#PCDATA)>

<!ELEMENT EI.BASEID (#PCDATA)>

<!ELEMENT EI.ADRESSE (#PCDATA)>

<!ELEMENT EI.POSTNR (#PCDATA)>

<!ELEMENT EI.POSTSTED (#PCDATA)>

<!ELEMENT EI.EPOSTADR (#PCDATA)>

<!ELEMENT EI.TLF (#PCDATA)>

<!ELEMENT EI.FAKS (#PCDATA)>

<!ELEMENT ER.ABASEID (#PCDATA)>

<!ELEMENT ER.ASAAR (#PCDATA)>

<!ELEMENT ER.ASNR (#PCDATA)>

<!ELEMENT ER.AJPID (#PCDATA)>

<!ELEMENT ER.REF (#PCDATA)>

<!ELEMENT ER.ADMID (#PCDATA)>

<!ELEMENT ER.ADMBET (#PCDATA)>

<!ELEMENT ER.SBHID (#PCDATA)>

<!ELEMENT ER.SBHNAVN (#PCDATA)>

<!ELEMENT ER.SBHINIT (#PCDATA)>

<!ELEMENT SA.SAAR (#PCDATA)>

<!ELEMENT SA.SEKNR (#PCDATA)>

<!ELEMENT SA.TITTEL (#PCDATA)>

<!ELEMENT JP.JPID (#PCDATA)>

<!ELEMENT JP.JPOSTNR (#PCDATA)>

<!ELEMENT JP.DOKDATO (#PCDATA)>

<!ELEMENT JP.INNHOLD (#PCDATA)>

<!ELEMENT JP.TGKODE (#PCDATA)>

<!ELEMENT JP.UOFF (#PCDATA)>

<!ELEMENT JP.FORFDATO (#PCDATA)>

<!ELEMENT SA.ADMID (#PCDATA)>

<!ELEMENT SA.ADMBET (#PCDATA)>

<!ELEMENT SA.ANSVID (#PCDATA)>

<!ELEMENT SA.ANSVNAVN (#PCDATA)>

<!ELEMENT SA.ANSVINIT (#PCDATA)>

<!ELEMENT SA.PROSJEKT (#PCDATA)>

<!ELEMENT JP.AGDATO (#PCDATA)>

<!ELEMENT JP.AGKODE (#PCDATA)>

<!ELEMENT JP.SAKSDEL (#PCDATA)>

<!ELEMENT AM.REF (#PCDATA)>

<!ELEMENT AM.ADMID (#PCDATA)>

<!ELEMENT AM.ADMBET (#PCDATA)>

<!ELEMENT AM.SBHID (#PCDATA)>

<!ELEMENT AM.SBHNAVN (#PCDATA)>

<!ELEMENT AM.SBHINIT (#PCDATA)>

<!ELEMENT KLASSERING.EP (KL.ORDNVERDI , KL.SORT , KL.OPLTEKST , KL.OVBESK)>

<!ELEMENT KL.ORDNVERDI (#PCDATA)>

<!ELEMENT KL.SORT (#PCDATA)>

<!ELEMENT KL.OPLTEKST (#PCDATA)>

<!ELEMENT KL.OVBESK (#PCDATA)>

