N4/v1.0/PERKLAR.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT PERKLARER.TAB (PERKLARER+)>
<!ATTLIST PERKLARER.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT PERKLARER (KT.PEID , KT.TGKODE , KT.AUTHELE , KT.KLAV , KT.FRADATO? , KT.KLOPPHAV? , KT.TILDATO? , KT.MERKNAD?)>

<!ELEMENT KT.PEID (#PCDATA)>

<!ELEMENT KT.TGKODE (#PCDATA)>

<!ELEMENT KT.AUTHELE (#PCDATA)>

<!ELEMENT KT.KLAV (#PCDATA)>

<!ELEMENT KT.FRADATO (#PCDATA)>

<!ELEMENT KT.KLOPPHAV (#PCDATA)>

<!ELEMENT KT.TILDATO (#PCDATA)>

<!ELEMENT KT.MERKNAD (#PCDATA)>

