N4/v1.0/PERTGKOD.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT PERTGKODE.TAB (PERTGKODE+)>
<!ATTLIST PERTGKODE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT PERTGKODE (PT.PEID , PT.TGKODE? , PT.ADMID , PT.AUTAV , PT.FRADATO , PT.TILDATO? , PT.AUTOPPAV?)>

<!ELEMENT PT.PEID (#PCDATA)>

<!ELEMENT PT.TGKODE (#PCDATA)>

<!ELEMENT PT.ADMID (#PCDATA)>

<!ELEMENT PT.AUTAV (#PCDATA)>

<!ELEMENT PT.FRADATO (#PCDATA)>

<!ELEMENT PT.TILDATO (#PCDATA)>

<!ELEMENT PT.AUTOPPAV (#PCDATA)>

