N4/v1.0/POLSAKG.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT POLSAKSGANG.TAB (POLSAKSGANG+)>
<!ATTLIST POLSAKSGANG.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT POLSAKSGANG (SG.ID , SG.SAID , SG.SAKSTYPE? , SG.KLADGANG , SG.LUKKET , SG.UOFF? , SG.STARTDATO? , SG.VEDTDATO? , SG.SISTEVEDT? , SG.MERKNAD?)>

<!ELEMENT SG.ID (#PCDATA)>

<!ELEMENT SG.SAID (#PCDATA)>

<!ELEMENT SG.SAKSTYPE (#PCDATA)>

<!ELEMENT SG.KLADGANG (#PCDATA)>

<!ELEMENT SG.LUKKET (#PCDATA)>

<!ELEMENT SG.UOFF (#PCDATA)>

<!ELEMENT SG.STARTDATO (#PCDATA)>

<!ELEMENT SG.VEDTDATO (#PCDATA)>

<!ELEMENT SG.SISTEVEDT (#PCDATA)>

<!ELEMENT SG.MERKNAD (#PCDATA)>

