N4/v1.0/POSTNR.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT POSTNR.TAB (POSTNR+)>
<!ATTLIST POSTNR.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT POSTNR (PO.POSTNR , PO.POSTSTED , PO.OPRDATO? , PO.NEDLDATO? , PO.KOMNR? , PO.KOMMUNE?)>

<!ELEMENT PO.POSTNR (#PCDATA)>

<!ELEMENT PO.POSTSTED (#PCDATA)>

<!ELEMENT PO.OPRDATO (#PCDATA)>

<!ELEMENT PO.NEDLDATO (#PCDATA)>

<!ELEMENT PO.KOMNR (#PCDATA)>

<!ELEMENT PO.KOMMUNE (#PCDATA)>

