N4/v1.0/PRESHENV.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT PRESHENV.TAB (PRESHENV+)>
<!ATTLIST PRESHENV.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT PRESHENV (PH.FPSID , PH.TPSID , PH.TOVEIS , PH.MERKNAD?)>

<!ELEMENT PH.FPSID (#PCDATA)>

<!ELEMENT PH.TPSID (#PCDATA)>

<!ELEMENT PH.TOVEIS (#PCDATA)>

<!ELEMENT PH.MERKNAD (#PCDATA)>

