N4/v1.0/SAKDOK.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT SAKDOKOVERSIKT (PRODINFO , SELEKSJON? , SORTERING? , RAPPORT)>

<!ATTLIST SAKDOKOVERSIKT  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT PRODINFO (PI.ARKSKAPER , PI.BASEID? , PI.ORGNR? , PI.KOMMUNE? , PI.MERKNAD? , PI.FRADATO , PI.TILDATO , PI.PRODDATO , PI.ANTFILER , FIL+)>

<!ELEMENT SELEKSJON (#PCDATA)>

<!ELEMENT SORTERING (#PCDATA)>

<!ELEMENT RAPPORT (NOARKSAK.SD+)>

<!ELEMENT PI.ARKSKAPER (#PCDATA)>

<!ELEMENT PI.BASEID (#PCDATA)>

<!ELEMENT PI.ORGNR (#PCDATA)>

<!ELEMENT PI.KOMMUNE (#PCDATA)>

<!ELEMENT PI.MERKNAD (#PCDATA)>

<!ELEMENT PI.FRADATO (#PCDATA)>

<!ELEMENT PI.TILDATO (#PCDATA)>

<!ELEMENT PI.PRODDATO (#PCDATA)>

<!ELEMENT PI.ANTFILER (#PCDATA)>

<!ELEMENT FIL (PI.FILNAVN , PI.FILDEL?)>

<!ELEMENT PI.FILNAVN (#PCDATA)>

<!ELEMENT PI.FILDEL (#PCDATA)>

<!ELEMENT NOARKSAK.SD (SA.SAAR , SA.SEKNR , SA.PAPIR? , SA.DATO , SA.TITTEL , SA.OFFTITTEL? , SA.U1? , SA.ARKDEL? , SA.JENHET? , SA.ADMKORT , SA.ANSVINIT , SA.TGKODE? , SA.UOFF? , SA.KASSKODE? , SA.KASSDATO? , KLASSERING.SD+ , JOURNPOST.SD+)>

<!ELEMENT SA.SAAR (#PCDATA)>

<!ELEMENT SA.SEKNR (#PCDATA)>

<!ELEMENT SA.PAPIR (#PCDATA)>

<!ELEMENT SA.DATO (#PCDATA)>

<!ELEMENT SA.TITTEL (#PCDATA)>

<!ELEMENT SA.OFFTITTEL (#PCDATA)>

<!ELEMENT SA.U1 (#PCDATA)>

<!ELEMENT SA.ARKDEL (#PCDATA)>

<!ELEMENT SA.JENHET (#PCDATA)>

<!ELEMENT SA.ADMKORT (#PCDATA)>

<!ELEMENT SA.ANSVINIT (#PCDATA)>

<!ELEMENT SA.TGKODE (#PCDATA)>

<!ELEMENT SA.UOFF (#PCDATA)>

<!ELEMENT SA.KASSKODE (#PCDATA)>

<!ELEMENT SA.KASSDATO (#PCDATA)>

<!ELEMENT KLASSERING.SD (KL.ORDNVERDI , KL.SORT? , KL.OPLTEKST? , KL.OVBESK , KL.U1?)>

<!ELEMENT JOURNPOST.SD (JP.JAAR , JP.SEKNR , JP.POSTNR , JP.JDATO , JP.NDOKTYPE , JP.DOKDATO? , JP.INNHOLD , JP.OFFINNHOLD? , JP.U1? , JP.TGKODE? , JP.UOFF? , JP.AGDATO? , JP.AGKODE? , JP.SAKSDEL? , JP.U2? , JP.ARKDEL? , AVSMOT.SD+ , DOKLINK.SD*)>

<!ELEMENT KL.ORDNVERDI (#PCDATA)>

<!ELEMENT KL.SORT (#PCDATA)>

<!ELEMENT KL.OPLTEKST (#PCDATA)>

<!ELEMENT KL.OVBESK (#PCDATA)>

<!ELEMENT KL.U1 (#PCDATA)>

<!ELEMENT JP.JAAR (#PCDATA)>

<!ELEMENT JP.SEKNR (#PCDATA)>

<!ELEMENT JP.POSTNR (#PCDATA)>

<!ELEMENT JP.JDATO (#PCDATA)>

<!ELEMENT JP.NDOKTYPE (#PCDATA)>

<!ELEMENT JP.DOKDATO (#PCDATA)>

<!ELEMENT JP.INNHOLD (#PCDATA)>

<!ELEMENT JP.OFFINNHOLD (#PCDATA)>

<!ELEMENT JP.U1 (#PCDATA)>

<!ELEMENT JP.TGKODE (#PCDATA)>

<!ELEMENT JP.UOFF (#PCDATA)>

<!ELEMENT JP.AGDATO (#PCDATA)>

<!ELEMENT JP.AGKODE (#PCDATA)>

<!ELEMENT JP.SAKSDEL (#PCDATA)>

<!ELEMENT JP.U2 (#PCDATA)>

<!ELEMENT JP.ARKDEL (#PCDATA)>

<!ELEMENT AVSMOT.SD (AM.NAVN , AM.IHTYPE , AM.U1? , AM.BEHANSV? , AM.ADMKORT , AM.SBHINIT , AM.JENHET? , AM.AVSKM? , AM.AVSKDATO? , AM.AVSAVDOK? , AM.BESVARDOK?)>

<!ELEMENT DOKLINK.SD (DL.RNR , DL.TYPE , DOKBESKRIV.SD)>

<!ELEMENT AM.NAVN (#PCDATA)>

<!ELEMENT AM.IHTYPE (#PCDATA)>

<!ELEMENT AM.U1 (#PCDATA)>

<!ELEMENT AM.BEHANSV (#PCDATA)>

<!ELEMENT AM.ADMKORT (#PCDATA)>

<!ELEMENT AM.SBHINIT (#PCDATA)>

<!ELEMENT AM.JENHET (#PCDATA)>

<!ELEMENT AM.AVSKM (#PCDATA)>

<!ELEMENT AM.AVSKDATO (#PCDATA)>

<!ELEMENT AM.AVSAVDOK (#PCDATA)>

<!ELEMENT AM.BESVARDOK (#PCDATA)>

<!ELEMENT DL.RNR (#PCDATA)>

<!ELEMENT DL.TYPE (#PCDATA)>

<!ELEMENT DOKBESKRIV.SD (DB.KATEGORI? , DB.TITTEL? , DB.PAPIR? , DB.TGKODE? , DB.UOFF? , DB.AGDATO? , DB.AGKODE? , DOKVERSJON.SD+)>

<!ELEMENT DB.KATEGORI (#PCDATA)>

<!ELEMENT DB.TITTEL (#PCDATA)>

<!ELEMENT DB.PAPIR (#PCDATA)>

<!ELEMENT DB.TGKODE (#PCDATA)>

<!ELEMENT DB.UOFF (#PCDATA)>

<!ELEMENT DB.AGDATO (#PCDATA)>

<!ELEMENT DB.AGKODE (#PCDATA)>

<!ELEMENT DOKVERSJON.SD (VE.VERSJON , VE.VARIANT , VE.DOKFORMAT? , VE.LAGRENH , VE.FILREF)>

<!ELEMENT VE.VERSJON (#PCDATA)>

<!ELEMENT VE.VARIANT (#PCDATA)>

<!ELEMENT VE.DOKFORMAT (#PCDATA)>

<!ELEMENT VE.LAGRENH (#PCDATA)>

<!ELEMENT VE.FILREF (#PCDATA)>

