N4/v1.0/SAKPART.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT SAKSPART.TAB (SAKSPART+)>
<!ATTLIST SAKSPART.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT SAKSPART (SP.SAID , SP.U1 , SP.KORTNAVN? , SP.NAVN , SP.ADRESSE? , SP.POSTNR? , SP.POSTSTED? , SP.UTLAND? , SP.EPOSTADR? , SP.KONTAKT? , SP.ROLLE? , SP.FAKS? , SP.TLF? , SP.MERKNAD?)>

<!ELEMENT SP.SAID (#PCDATA)>

<!ELEMENT SP.U1 (#PCDATA)>

<!ELEMENT SP.KORTNAVN (#PCDATA)>

<!ELEMENT SP.NAVN (#PCDATA)>

<!ELEMENT SP.ADRESSE (#PCDATA)>

<!ELEMENT SP.POSTNR (#PCDATA)>

<!ELEMENT SP.POSTSTED (#PCDATA)>

<!ELEMENT SP.UTLAND (#PCDATA)>

<!ELEMENT SP.EPOSTADR (#PCDATA)>

<!ELEMENT SP.KONTAKT (#PCDATA)>

<!ELEMENT SP.ROLLE (#PCDATA)>

<!ELEMENT SP.FAKS (#PCDATA)>

<!ELEMENT SP.TLF (#PCDATA)>

<!ELEMENT SP.MERKNAD (#PCDATA)>

