N4/v1.0/SAKTYPE.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT SAKSTYPE.TAB (SAKSTYPE+)>
<!ATTLIST SAKSTYPE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT SAKSTYPE (ST.TYPE , ST.BETEGN , ST.UTVSAKTYPE? , ST.UOFF , ST.HJEMMEL? , ST.KLAGEADG , ST.MERKNAD?)>

<!ELEMENT ST.TYPE (#PCDATA)>

<!ELEMENT ST.BETEGN (#PCDATA)>

<!ELEMENT ST.UTVSAKTYPE (#PCDATA)>

<!ELEMENT ST.UOFF (#PCDATA)>

<!ELEMENT ST.HJEMMEL (#PCDATA)>

<!ELEMENT ST.KLAGEADG (#PCDATA)>

<!ELEMENT ST.MERKNAD (#PCDATA)>

