N4/v1.0/TGGRP.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT TGGRUPPE.TAB (TGGRUPPE+)>
<!ATTLIST TGGRUPPE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT TGGRUPPE (TG.GRUPPEID , TG.GRUPPNAVN , TG.GENERELL , TG.OPPRAV , TG.FRADATO , TG.TILDATO?)>

<!ELEMENT TG.GRUPPEID (#PCDATA)>

<!ELEMENT TG.GRUPPNAVN (#PCDATA)>

<!ELEMENT TG.GENERELL (#PCDATA)>

<!ELEMENT TG.OPPRAV (#PCDATA)>

<!ELEMENT TG.FRADATO (#PCDATA)>

<!ELEMENT TG.TILDATO (#PCDATA)>

