N4/v1.0/TGHJEM.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT TGHJEMMEL.TAB (TGHJEMMEL+)>
<!ATTLIST TGHJEMMEL.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT TGHJEMMEL (TH.TGKODE , TH.UOFF , TH.AGKODE? , TH.AGAAR? , TH.AGDAGER? , TH.ANVEND?)>

<!ELEMENT TH.TGKODE (#PCDATA)>

<!ELEMENT TH.UOFF (#PCDATA)>

<!ELEMENT TH.AGKODE (#PCDATA)>

<!ELEMENT TH.AGAAR (#PCDATA)>

<!ELEMENT TH.AGDAGER (#PCDATA)>

<!ELEMENT TH.ANVEND (#PCDATA)>

