N4/v1.0/TGMEDLEM.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT TGMEDLEM.TAB (TGMEDLEM+)>
<!ATTLIST TGMEDLEM.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT TGMEDLEM (PG.PEID , PG.GRUPPEID , PG.PERROLID? , PG.MEDKOD? , PG.INNMAV , PG.FRADATO? , PG.TILDATO? , PG.UTMAV?)>

<!ELEMENT PG.PEID (#PCDATA)>

<!ELEMENT PG.GRUPPEID (#PCDATA)>

<!ELEMENT PG.PERROLID (#PCDATA)>

<!ELEMENT PG.MEDKOD (#PCDATA)>

<!ELEMENT PG.INNMAV (#PCDATA)>

<!ELEMENT PG.FRADATO (#PCDATA)>

<!ELEMENT PG.TILDATO (#PCDATA)>

<!ELEMENT PG.UTMAV (#PCDATA)>

