N4/v1.0/TILLEGG.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT TILLEGGSINFO.TAB (TILLEGGSINFO+)>
<!ATTLIST TILLEGGSINFO.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT TILLEGGSINFO (TI.ID? , TI.SAID? , TI.JPID? , TI.DOKID? , TI.DOKVER? , TI.VARIANT? , TI.RNR? , TI.ITYPE? , TI.TGKODE? , TI.TGGRUPPE? , TI.OPPBEDATO? , TI.REGDATO? , TI.REGKL? , TI.REGAV? , TI.PVGAV? , TI.TEKST? , TI.REFDOKID?)>

<!ELEMENT TI.ID (#PCDATA)>

<!ELEMENT TI.SAID (#PCDATA)>

<!ELEMENT TI.JPID (#PCDATA)>

<!ELEMENT TI.DOKID (#PCDATA)>

<!ELEMENT TI.DOKVER (#PCDATA)>

<!ELEMENT TI.VARIANT (#PCDATA)>

<!ELEMENT TI.RNR (#PCDATA)>

<!ELEMENT TI.ITYPE (#PCDATA)>

<!ELEMENT TI.TGKODE (#PCDATA)>

<!ELEMENT TI.TGGRUPPE (#PCDATA)>

<!ELEMENT TI.OPPBEDATO (#PCDATA)>

<!ELEMENT TI.REGDATO (#PCDATA)>

<!ELEMENT TI.REGKL (#PCDATA)>

<!ELEMENT TI.REGAV (#PCDATA)>

<!ELEMENT TI.PVGAV (#PCDATA)>

<!ELEMENT TI.TEKST (#PCDATA)>

<!ELEMENT TI.REFDOKID (#PCDATA)>

