N4/v1.0/UTVBEHST.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT UTVBEHSTAT.TAB (UTVBEHSTAT+)>
<!ATTLIST UTVBEHSTAT.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTVBEHSTAT (BS.STATUS , BS.BETEGN , BS.KOLISTE , BS.KANSKART , BS.SAKSKART , BS.BEHANDLET , BS.SORT1)>

<!ELEMENT BS.STATUS (#PCDATA)>

<!ELEMENT BS.BETEGN (#PCDATA)>

<!ELEMENT BS.KOLISTE (#PCDATA)>

<!ELEMENT BS.KANSKART (#PCDATA)>

<!ELEMENT BS.SAKSKART (#PCDATA)>

<!ELEMENT BS.BEHANDLET (#PCDATA)>

<!ELEMENT BS.SORT1 (#PCDATA)>

