N4/v1.0/UTVMOTE.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT UTVMOTE.TAB (UTVMOTE+)>
<!ATTLIST UTVMOTE.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTVMOTE (MO.ID , MO.FORTS? , MO.NR? , MO.UTVID , MO.LUKKET , MO.UOFF? , MO.DATO? , MO.START? , MO.SLUTT? , MO.STED? , MO.ROM? , MO.FRIST? , MO.SAKSKART? , MO.PROTOKOLL? , MO.MERKNAD?)>

<!ELEMENT MO.ID (#PCDATA)>

<!ELEMENT MO.FORTS (#PCDATA)>

<!ELEMENT MO.NR (#PCDATA)>

<!ELEMENT MO.UTVID (#PCDATA)>

<!ELEMENT MO.LUKKET (#PCDATA)>

<!ELEMENT MO.UOFF (#PCDATA)>

<!ELEMENT MO.DATO (#PCDATA)>

<!ELEMENT MO.START (#PCDATA)>

<!ELEMENT MO.SLUTT (#PCDATA)>

<!ELEMENT MO.STED (#PCDATA)>

<!ELEMENT MO.ROM (#PCDATA)>

<!ELEMENT MO.FRIST (#PCDATA)>

<!ELEMENT MO.SAKSKART (#PCDATA)>

<!ELEMENT MO.PROTOKOLL (#PCDATA)>

<!ELEMENT MO.MERKNAD (#PCDATA)>

