N4/v1.0/UTVSAKKA.DTD

<?xml version='1.0' encoding='ISO-8859-1' ?>

<!--Generated by XML Authority-->

<!ELEMENT UTVSAKSKART.TAB (UTVSAKSKART+)>
<!ATTLIST UTVSAKSKART.TAB  VERSJON CDATA  #FIXED '1.0' >
<!ELEMENT UTVSAKSKART (SK.UTVID , SK.SAKSTYPE , SK.SORT? , SK.TITTEL? , SK.NUMSER? , SK.NUMFORM? , SK.OVSKR , SK.KUNOVSKR , SK.UTVSNR , SK.UTVSTIT , SK.ARKSNR , SK.ARKSDNR , SK.DOKIH , SK.DOKDATO , SK.AVS)>

<!ELEMENT SK.UTVID (#PCDATA)>

<!ELEMENT SK.SAKSTYPE (#PCDATA)>

<!ELEMENT SK.SORT (#PCDATA)>

<!ELEMENT SK.TITTEL (#PCDATA)>

<!ELEMENT SK.NUMSER (#PCDATA)>

<!ELEMENT SK.NUMFORM (#PCDATA)>

<!ELEMENT SK.OVSKR (#PCDATA)>

<!ELEMENT SK.KUNOVSKR (#PCDATA)>

<!ELEMENT SK.UTVSNR (#PCDATA)>

<!ELEMENT SK.UTVSTIT (#PCDATA)>

<!ELEMENT SK.ARKSNR (#PCDATA)>

<!ELEMENT SK.ARKSDNR (#PCDATA)>

<!ELEMENT SK.DOKIH (#PCDATA)>

<!ELEMENT SK.DOKDATO (#PCDATA)>

<!ELEMENT SK.AVS (#PCDATA)>

