digitalarkivet/histformml.dtd

<!--	DTD for HistformML - en XML-versjon av utvekslingsformatet i Histform - Norsk standard for registrering og utveksling av
	nominative folketellingsdata for aarene 1865-1910. (Registreringssentral for historiske data, Tromsoe, januar 1995,
	ISBN 82-7663-419-2)
	HistformML er noe utvidet i forhold til Histform-standarden som en foelge av harmonisering med kirkebokstandarden Kyrre
	og dennes hovedformat KyrreML. (Digitalarkivet, Bergen, desember 2005)
	Versjon 1.0, Riksarkivet, 27.05.2010 (utarbeidet av Lars Nygaard)

	Elementene 'kildeside' og 'bildelenke' lagt til. Attributtverdien 'grunnlag' lagt til i elementet 'fodselsaar'.
	Versjon 1.1, Riksarkivet, 17.06.2011 (revidert av Lars Nygaard)
	Byttet 'bo_etasje' til 'etasje' i elementet 'person'.
	Versjon 1.1, Riksarkivet, 27.03.2012 (justert av Bent Vangli)

	Samkjoert versjoner med samme versjonssnummer og oeket versjonsnummer. Lagt til elementet 'koder' under 'person' (for ft1801).
        Versjon 1.2, Riksarkivet, 15.08.2012 (revidert av Bent Vangli)

	Nye elementer lagt til under 'bosted_by': 'bildelenke2', 'bildelenke3'
	Nye elementer lagt til under 'leilighet': 'el_lys'
	Nye elementer lagt til under 'person': 'hjemkomm', 'skole', 'forrige_adr', 'forrige_sted', 'innflyttet', 'fra_adr', 'fra_sted'
	I tillegg tillates naa 'leilighet' som underelement til 'bosted_land'.
	Versjon 1.2.1, Riksarkivet, 31.05.2013 og 2013-06-04(revidert av Lars Nygaard og Bent Vangli)
-->

<!-- Overordnet element: -->
<!ELEMENT histform (kilde, registrering, (tellingskrets | informasjon)+)>
<!ATTLIST histform
		versjon CDATA #FIXED "1.2">		<!-- Versjonsnummer av HistformML -->


<!-- Felles feltelementer for flere postelementer: -->
<!ELEMENT kretsnummer (#PCDATA)>			<!-- Tellingskretsens nummer i kilden -->
<!ELEMENT bostedsnummer (#PCDATA)>			<!-- Bostedets (gaardens/husets) listenummer i kilden -->
<!ELEMENT leilighetsnummer (#PCDATA)>			<!-- Leilighetens listenummer i kilden -->
<!ELEMENT personnummer (#PCDATA)>			<!-- Personens nummer innenfor bostedet/leiligheten/skipet -->
<!ELEMENT antall_tilstedevarende_personer (#PCDATA)>	<!-- Antall tilstedevaerende personer -->
<!ELEMENT antall_hjemmehorende_personer (#PCDATA)>	<!-- Antall hjemmehoerende personer  -->
<!ELEMENT merknader (#PCDATA)>				<!-- Evt. merknader til kilden, registreringen, bosteder eller personer -->
<!ELEMENT side (#PCDATA)>				<!-- Sidetallet i folketellingslisten -->
<!ELEMENT kildeside (#PCDATA)>				<!-- Kildesidenummer (indeks) til skannet bilde i Digitalarkivet -->
<!ELEMENT bildelenke (#PCDATA)>				<!-- URL til skannet bilde i Digitalarkivet -->
<!ELEMENT bildelenke2 (#PCDATA)>			<!-- URL til skannet bilde i Digitalarkivet, naar flere enn ett -->
<!ELEMENT bildelenke3 (#PCDATA)>			<!-- URL til skannet bilde i Digitalarkivet, naar flere enn to -->


<!-- Dokumentasjon om den aktuelle folketellingen paa kommune- eller prestegjeldsnivaa: -->
<!ELEMENT kilde ((kommune | prgjeld), kommnr, soknenr?, ktype, aar, dato?, signatur?, asta_streng?, oppbsted?, merknader?)>
<!ATTLIST kilde
		kildeid CDATA #REQUIRED>		<!-- Kildens ID i Digitalarkivet -->
<!ELEMENT kommune (#PCDATA)>				<!-- Herredets eller byens navn -->
<!ELEMENT prgjeld (#PCDATA)>				<!-- Prestegjeldets eller byens navn -->
<!ELEMENT kommnr (#PCDATA)>				<!-- Kommunenummer til kommunen eller prestegjeldet -->
<!ELEMENT soknenr (#PCDATA)>				<!-- Soknenummer til prestegjeldet (6 siffer) -->
<!ELEMENT ktype (#PCDATA)>				<!-- Kildetype ): FOLK -->
<!ELEMENT aar (#PCDATA)>				<!-- Folketellingsaaret med 4 siffer -->
<!ELEMENT dato (#PCDATA)>				<!-- Folketellingsdatoen paa formatet "mm.dd" -->
<!ELEMENT signatur (#PCDATA)>				<!-- Arkivsignatur ): gammelt katalognummer i Arkivverket -->
<!ELEMENT asta_streng (#PCDATA)>			<!-- Asta-streng ): nytt katalognummer paa formen S-1344/Hab/L0001 -->
<!ELEMENT oppbsted (#PCDATA)>				<!-- Oppbevaringssted for originalkilden ): statsarkivkode -->


<!-- Dokumentasjon om registreringen: -->
<!ELEMENT registrering (reg_av?, reg_naar?, korr_av?, korr_naar?, foretak, kontakt?, grunnlag?, program?, fildato?, merknader?)>
<!ELEMENT reg_av (#PCDATA)>				<!-- Navn paa person(er) eller foretak som har registrert kilden -->
<!ELEMENT reg_naar (#PCDATA)>				<!-- Aar for eller annen tidfesting av registreringsarbeidet -->
<!ELEMENT korr_av (#PCDATA)>				<!-- Navn paa person(er) eller foretak som har korrekturlest kilden -->
<!ELEMENT korr_naar (#PCDATA)>				<!-- Aar for eller annen tidfesting av korrekturarbeidet -->
<!ELEMENT foretak (#PCDATA)>				<!-- Organisasjon/institusjon eller person som staar bak
								registreringen; rettighetshaver -->
<!ELEMENT kontakt (#PCDATA)>				<!-- Navn (evt.), adresse, telefon eller e-post til kontaktperson -->
<!ELEMENT grunnlag (#PCDATA)>				<!-- Kildegrunnlag for registreringen ): Papirkopi, Mikrofilm, Mikrofiche,
								Skanning eller Original -->
<!ELEMENT program (#PCDATA)>				<!-- Registreringsprogram ): CensIn, Access, Excel, BD87 osv. -->
<!ELEMENT fildato (#PCDATA)>				<!-- Dato for ferdigstilling av datafilen, format: "yyyy.mm.dd" -->


<!-- Tellingskrets (1) -->
<!ELEMENT tellingskrets (kretsnummer, tellingskretsens_navn?, sogn?, prestegjeld?, herred_by?, merknader?, kildeside?, bildelenke?, 
(bosted_land | bosted_by | skip | informasjon)*)>
<!ATTLIST tellingskrets
		id CDATA #IMPLIED>			<!-- Globalt unik postID for kretsposten -->
<!ELEMENT tellingskretsens_navn (#PCDATA)>		<!-- Tellingskretsens navn i kilden -->
<!ELEMENT sogn (#PCDATA)>				<!-- Denne kretsens tilhoerighet til sokn -->
<!ELEMENT prestegjeld (#PCDATA)>			<!-- Denne kretsens tilhoerighet til prestegjeld -->
<!ELEMENT herred_by (#PCDATA)>				<!-- Denne kretsens tilhoerighet til herred eller by -->


<!-- Bosted_land (2a) -->
<!ELEMENT bosted_land (bostedsnummer, bostedets_navn?, matrnr_gnr?, lopenr_bnr?, antall_tilstedevarende_personer?,
antall_hjemmehorende_personer?, antall_personsedler?, antall_husholdninger?, sidebygning_med_natteopphold?,
antall_slike_bygninger?, hvilke_slike_bygninger?, jordbrukssporsmaal?, antall_personer_i_fjos?, antall_personer_i_stall?,
tredje_sidebygning?, antall_personer_i_tredje_sidebygning?, fjerde_sidebygning?, antall_personer_i_fjerde_sidebygning?, merknader?,
kildeside?, bildelenke?, (leilighet | person | hjemvendt_norsk_amerikaner | jordbruk | informasjon)*)>
<!ATTLIST bosted_land
		id CDATA #IMPLIED>			<!-- Globalt unik postID for bostedposten -->
<!ELEMENT bostedets_navn (#PCDATA)>			<!-- Bostedets navn i kilden -->
<!ELEMENT matrnr_gnr (#PCDATA)>				<!-- Bostedets matrikkelnummer eller gaardsnummer -->
<!ELEMENT lopenr_bnr (#PCDATA)>				<!-- Bostedets loepenummer eller bruksnummer -->
<!ELEMENT antall_personsedler (#PCDATA)>		<!-- Antall personsedler (1891) -->
<!ELEMENT antall_husholdninger (#PCDATA)>		<!-- Antall husholdninger -->
<!ELEMENT sidebygning_med_natteopphold (#PCDATA)>	<!-- Side-/uthusbygning med natteopphold? (j/n) -->
<!ELEMENT antall_slike_bygninger (#PCDATA)>		<!-- Antall slike bygninger -->
<!ELEMENT hvilke_slike_bygninger (#PCDATA)>		<!-- Hvilke slike bygninger -->
<!ELEMENT jordbrukssporsmaal (#PCDATA)>			<!-- Jordbruksspoersmaal -->
<!ELEMENT antall_personer_i_fjos (#PCDATA)>		<!-- Antall personer i fjoes -->
<!ELEMENT antall_personer_i_stall (#PCDATA)>		<!-- Antall personer i stall -->
<!ELEMENT tredje_sidebygning (#PCDATA)>			<!-- 3. sidebygning -->
<!ELEMENT antall_personer_i_tredje_sidebygning (#PCDATA)> <!-- Antall personer i 3. sidebygning -->
<!ELEMENT fjerde_sidebygning (#PCDATA)>			<!-- 4. sidebygning -->
<!ELEMENT antall_personer_i_fjerde_sidebygning (#PCDATA)> <!-- Antall personer i 4. sidebygning -->


<!-- Bosted_by (2b) -->
<!ELEMENT bosted_by (bostedsnummer, gatenavn_og_nummer_i_gata?, bydel?, gaardens_nummer?, gaardens_eier?,
antall_tilstedevarende_personer?, antall_hjemmehorende_personer?, antall_personsedler_personlister?, hustype?,
sidebygninger?, ubebodd?, antall_etasjer?, antall_leiligheter_til_beboelse?, antall_leiligheter_med_naringslokaler?,
antall_verksted_forretningslokaler?, antall_ledige_bekvemmeligheter?,
antall_kvistleiligheter?, antall_kjellerbekvemmeligheter?, merknader?, bildelenke?, bildelenke2?, bildelenke3?, kildeside?,
(leilighet | jordbruk | informasjon | person)*)>
<!ATTLIST bosted_by
		id CDATA #IMPLIED>			<!-- Globalt unik postID for gaardsposten (by) -->
<!ELEMENT gatenavn_og_nummer_i_gata (#PCDATA)>		<!-- Gatenavn og gaardens/husets nummer i gata -->
<!ELEMENT bydel (#PCDATA)>				<!-- Bydelens navn eller (rode)nummer -->
<!ELEMENT gaardens_nummer (#PCDATA)>			<!-- Gaardens/husets nummer i bymatrikkel, branntakst etc. -->
<!ELEMENT gaardens_eier (#PCDATA)>			<!-- Gaardens/husets eier(e) -->
<!ELEMENT antall_personsedler_personlister (#PCDATA)>	<!-- Antall personsedler (1891), personlister (1900), familielister (1910) -->
<!ELEMENT hustype (#PCDATA)>				<!-- Husets type -->
<!ELEMENT sidebygninger (#PCDATA)>			<!-- Side-/uthusbygninger med natteopphold -->
<!ELEMENT ubebodd (#PCDATA)>				<!-- Er huset ubebodd? (j/n) -->
<!ELEMENT antall_etasjer (#PCDATA)>			<!-- Antall etasjer i huset -->
<!ELEMENT antall_leiligheter_til_beboelse (#PCDATA)>
<!ELEMENT antall_leiligheter_med_naringslokaler (#PCDATA)>
<!ELEMENT antall_verksted_forretningslokaler (#PCDATA)>
<!ELEMENT antall_ledige_bekvemmeligheter (#PCDATA)>
<!ELEMENT antall_kvistleiligheter (#PCDATA)>
<!ELEMENT antall_kjellerbekvemmeligheter (#PCDATA)>


<!-- Leilighet (3) -->
<!ELEMENT leilighet (leilighetsnummer, antall_bebodde_bekvemmeligheter?, bekvemmelighetens_beliggenhet?, etasje?, bildelenke?,
antall_varelser_i_kjeller?, antall_personer_i_kjeller?, antall_varelser_i_etasjene?, antall_personer_i_etasjene?,
antall_varelser_paa_kvist_loft?, antall_personer_paa_kvist_loft?, antall_kjokkener?, antall_badevarelser?,
antall_tilstedevarende_personer?, antall_hjemmehorende_personer?, antall_tjenervarelser?, el_lys?, antall_varelser_til_losjerende?,
husleie?, merknader?, kildeside?, (person | hjemvendt_norsk_amerikaner | informasjon)*)>
<!ATTLIST leilighet
		id CDATA #IMPLIED>			<!-- Globalt unik postID for leilighetsposten -->
<!ELEMENT antall_bebodde_bekvemmeligheter (#PCDATA)>
<!ELEMENT bekvemmelighetens_beliggenhet (#PCDATA)>	<!-- Hvilken bygning leiligheten ligger i -->
<!ELEMENT etasje (#PCDATA)>				<!-- Hvilken etasje leiligheten ligger i -->
<!ELEMENT antall_varelser_i_kjeller (#PCDATA)>
<!ELEMENT antall_personer_i_kjeller (#PCDATA)>
<!ELEMENT antall_varelser_i_etasjene (#PCDATA)>
<!ELEMENT antall_personer_i_etasjene (#PCDATA)>
<!ELEMENT antall_varelser_paa_kvist_loft (#PCDATA)>
<!ELEMENT antall_personer_paa_kvist_loft (#PCDATA)>
<!ELEMENT antall_kjokkener (#PCDATA)>
<!ELEMENT antall_badevarelser (#PCDATA)>
<!ELEMENT antall_tjenervarelser (#PCDATA)>
<!ELEMENT antall_varelser_til_losjerende (#PCDATA)>
<!ELEMENT husleie (#PCDATA)>
<!ELEMENT el_lys (#PCDATA)>				<!-- Har leiligheten elektrisk lys? -->


<!-- Skip (4) -->
<!ELEMENT skip (skipsnummer, skipstype?, skipets_navn?, hjemsted?, drektighet?, skipsforer?, oppholdssted?,
bestemmelsessted?, listeforer?, avleveringsdato?, mottaker?, antall_ombordvarende_personer?, antall_ilandvarende_personer?,
merknader?, kildeside?, bildelenke?, (person | hjemvendt_norsk_amerikaner | informasjon)*)>
<!ATTLIST skip
		id CDATA #IMPLIED>			<!-- Globalt unik postID for skipsposten -->
<!ELEMENT skipsnummer (#PCDATA)>			<!-- Skipets listenummer i kilden -->
<!ELEMENT skipstype (#PCDATA)>				<!-- Typebetegnelse for skipet -->
<!ELEMENT skipets_navn (#PCDATA)>			<!-- Skipets navn i kilden -->
<!ELEMENT hjemsted (#PCDATA)>				<!-- Skipets hjemsted -->
<!ELEMENT drektighet (#PCDATA)>				<!-- Skipets stoerrelse (drektighet) -->
<!ELEMENT skipsforer (#PCDATA)>				<!-- Skipets foerer/kaptein -->
<!ELEMENT oppholdssted (#PCDATA)>			<!-- Skipets oppholdssted paa tellingstidspunktet -->
<!ELEMENT bestemmelsessted (#PCDATA)>			<!-- Skipets bestemmelsessted paa tellingstidspunktet -->
<!ELEMENT listeforer (#PCDATA)>				<!-- Navnet paa personen som har foert tellingslisten -->
<!ELEMENT avleveringsdato (#PCDATA)>			<!-- Dato for avlevering av tellingslisten -->
<!ELEMENT mottaker (#PCDATA)>				<!-- Mottaker av tellingslisten -->
<!ELEMENT antall_ombordvarende_personer (#PCDATA)>	<!-- Antall ombordvaerende personer -->
<!ELEMENT antall_ilandvarende_personer (#PCDATA)>	<!-- Antall ilandvaerende personer  -->


<!-- Person (5) -->
<!ELEMENT person (personnummer, husholdningsnummer, ny_husholdning?, rolle?,
fornavn, patronymikon?, slektsnavn?, kjonn, familiestilling?, sivilstand?, yrke?, alder?, fodselsaar?, fodested?, bostatus?,
sedvanlig_bosted?, antatt_oppholdssted?, statsborgerskap?, trossamfunn?, hjemkomm?, skole?, sykdomstilstand?, varighet_av_sykdomstilstand?,
bygning_for_natteopphold?, etasje?, forrige_adr?, forrige_sted?, tilflyttet?, fra_adr?, fra_sted?, slektskap_med_ektemann?,
forsorgers_livsstilling?, arbeidsledig?, etnisitet_egen_fars?, etnisitet_mors?, spraak?, merknader?, kildeside?, bildelenke?, koder?)>
<!ATTLIST person
		id CDATA #IMPLIED>			<!-- Globalt unik postID for personposten -->
<!ELEMENT husholdningsnummer (#PCDATA)>			<!-- Husholdningens nummer innenfor bostedet/leiligheten -->
<!ELEMENT ny_husholdning (#PCDATA)>			<!-- Markering av foerste person i ny husholdning (eller enslig person) -->
<!ELEMENT rolle (#PCDATA)>				<!-- Personens rolle i handlingen. Lovlig verdi: folketelt -->
<!ELEMENT fornavn (#PCDATA)>				<!-- Personens fornavn og evt. mellomnavn -->
<!ELEMENT patronymikon (#PCDATA)>			<!-- Personens patronymikon (farsnavn) -->
<!ELEMENT slektsnavn (#PCDATA)>				<!-- Personens slektsnavn (fast etternavn) -->
<!ELEMENT kjonn (#PCDATA)>				<!-- Personens kjoenn. Lovlige verdiar: m, k, ??, m!!, k!! -->
<!ELEMENT familiestilling (#PCDATA)>			<!-- Personens stilling i familien -->
<!ELEMENT sivilstand (#PCDATA)>				<!-- Personens sivilstand (ekteskapelige stilling) -->
<!ELEMENT yrke (#PCDATA)>				<!-- Personens yrke, naeringsvei etc. -->
<!ELEMENT alder (#PCDATA)>				<!-- Personens alder oppgitte i kilden -->
<!ELEMENT fodselsaar (#PCDATA)>				<!-- Personens foedselsaar oppgitt i kilden eller beregnet fra oppgitt
								alder, eller foedselsdato paa formen 'yyyy.mm.dd' -->
<!ATTLIST fodselsaar

		grunnlag CDATA #IMPLIED>		<!-- Grunnlag for verdien i 'fodselsaar', f.eks. 'alder' -->
<!ELEMENT fodested (#PCDATA)>				<!-- Personens foedested -->
<!ELEMENT bostatus (#PCDATA)>				<!-- Personens tilknytning til dette bostedet paa tellingstidspunktet.
								Lovlige verdier: b, f eller mt. -->
<!ELEMENT sedvanlig_bosted (#PCDATA)>			<!-- Sedvanlig bosted for midlertidig tilstedevaerende personer -->
<!ELEMENT antatt_oppholdssted (#PCDATA)>		<!-- Antatt oppholdssted for (midlertidig) fravaerende personer -->
<!ELEMENT statsborgerskap (#PCDATA)>			<!-- Personens statsborgeskap -->
<!ELEMENT trossamfunn (#PCDATA)>			<!-- Personens trossamfunn -->
<!ELEMENT sykdomstilstand (#PCDATA)>			<!-- Om personen har noen somatisk eller mental sykdom -->
<!ELEMENT varighet_av_sykdomstilstand (#PCDATA)>	<!-- Om varigheten av denne sykdomstilstanden -->
<!ELEMENT bygning_for_natteopphold (#PCDATA)>		<!-- Den bygningen personen har sitt natteopphold i -->
<!-- <!ELEMENT bo_etasje (#PCDATA)> -->				<!-- Hvilken etasje i huset personen bor i (1875 og 1885) -->
<!ELEMENT slektskap_med_ektemann (#PCDATA)>		<!-- Om en gift kvinne er i slekt med sin ektemann (1891) -->
<!ELEMENT forsorgers_livsstilling (#PCDATA)>		<!-- Personens forsoergers livsstilling (1891) -->
<!ELEMENT arbeidsledig (#PCDATA)>			<!-- Om personen er arbeidsledig (1910) -->
<!ELEMENT etnisitet_egen_fars (#PCDATA)>		<!-- Personens egen eller farens etnisitet -->
<!ELEMENT etnisitet_mors (#PCDATA)>			<!-- Personens mors etnisitet -->
<!ELEMENT spraak (#PCDATA)>				<!-- Hvilke(t) spraak personen daglig snakker -->
<!ELEMENT koder (#PCDATA)>				<!-- En streng med numeriske koder separert med | -->
<!ELEMENT hjemkomm (#PCDATA)>				<!-- Personens hjemkommune eller hjemstavn -->
<!ELEMENT skole (#PCDATA)>				<!-- Skolen personen (barnet) gaar paa -->
<!ELEMENT forrige_adr (#PCDATA)>			<!-- Adresse ved forrige telling -->
<!ELEMENT forrige_sted (#PCDATA)>			<!-- Sted (herred/by/land) ved forrige telling -->
<!ELEMENT tilflyttet (#PCDATA)>				<!-- Naar flyttet til naavaerende adresse (dato e.a.) -->
<!ELEMENT fra_adr (#PCDATA)>				<!-- Flyttet fra adresse -->
<!ELEMENT fra_sted (#PCDATA)>				<!-- Flyttet fra sted (herred/by/land) -->


<!-- Hjemvendt norsk-amerikaner (6) -->
<!ELEMENT hjemvendt_norsk_amerikaner (personnummer, utflyttingsaar?, tilbakeflyttingsaar?,
bosted_i_norge?, siste_bosted_i_amerika?, stilling_i_amerika?, merknader?, kildeside?, bildelenke?)>
<!ATTLIST hjemvendt_norsk_amerikaner
		id CDATA #IMPLIED>			<!-- Globalt unik postID for norskamerikanerposten -->
<!ELEMENT utflyttingsaar (#PCDATA)>			<!-- Aar for utflytting til Amerika -->
<!ELEMENT tilbakeflyttingsaar (#PCDATA)>		<!-- Aar for tilbakeflytting til Norge -->
<!ELEMENT bosted_i_norge (#PCDATA)>			<!-- Bosted i Norge foer utflyttingen -->
<!ELEMENT siste_bosted_i_amerika (#PCDATA)>		<!-- Siste bosted i Amerika foer tilbakeflyttingen -->
<!ELEMENT stilling_i_amerika (#PCDATA)>			<!-- Siste stilling i Amerika foer tilbakeflyttingen -->


<!-- Jordbruk (7) -->
<!ELEMENT jordbruk (eierens_nummer, eierens_fornavn?, eierens_patronymikon?, eierens_slektsnavn?, eierens_yrke?,
utsad?, kreaturhold?, hage_og_frukttrar?, kjoretoy_og_maskiner?, merknader?, kildeside?, bildelenke?)>
<!ATTLIST jordbruk
		id CDATA #IMPLIED>			<!-- Globalt unik postID for jordbruksposten -->
<!ELEMENT eierens_nummer (#PCDATA)>			<!-- Eierens nummer innenfor bostedet/leiligheten -->
<!ELEMENT eierens_fornavn (#PCDATA)>			<!-- Eierens fornavn og evt. mellomnavn -->
<!ELEMENT eierens_patronymikon (#PCDATA)>		<!-- Eierens patronymikon (farsnavn) -->
<!ELEMENT eierens_slektsnavn (#PCDATA)>			<!-- Eierens slektsnavn (fast etternavn) -->
<!ELEMENT eierens_yrke (#PCDATA)>			<!-- Eierens yrke, naeringsvei etc. -->
<!ELEMENT utsad (#PCDATA)>				<!-- Utsaed av korn, froe og poteter siste aar -->
<!ELEMENT kreaturhold (#PCDATA)>			<!-- Antall dyr av ulike typer -->
<!ELEMENT hage_og_frukttrar (#PCDATA)>
<!ELEMENT kjoretoy_og_maskiner (#PCDATA)>


<!-- Informasjon (9) -->
<!ELEMENT informasjon (kretsnummer, bostedsnummer, leilighetsnummer, personnummer, posttype_for_forrige_post,
overskrift_kommentar, kildeside?, bildelenke?)>
<!ATTLIST informasjon
		id CDATA #IMPLIED>			<!-- Globalt unik postID for informasjonsposten -->
<!ELEMENT posttype_for_forrige_post (#PCDATA)>		<!-- Posttype for forrige post -->
<!ELEMENT overskrift_kommentar (#PCDATA)>		<!-- Selve informasjonen som skal formidles her -->
